@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&display=swap');

$primary-color: #17A803;

body{
  background:#F1F2F6;
}
.dropdown-toggle::after {
    display: none !important; 
  }
 
 .Drop{
    position: relative;
    margin-left: -15px;
 }
 .search{
    position: relative;
    margin-left: -20px;
    margin-bottom: -9px;
 }
 .offcanvas.offcanvas-end{
   width:255px ;
 }

 .navbar__button {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar1{
  display: none;
}
 .sidebar {
  position: fixed;
  top: 40;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 230px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  background: transparent;
  border-right: 0px solid #dbdbdb;
  transition: 0.3s;
  margin-top:-23px;
}

.sidebar-header {
  width: 100%;
  margin-bottom: 44px;
}

.sidebar a {
  height: 60px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.sidebar a > span {
  display: flex;
  align-items: center;
  gap: 9px;
  height: 48px;
  padding: 0 12px;
  line-height: 1;
}

.sidebar a span:hover  {
  color:#17a803;
  transition: 0.1s;
 
}


.sidebar a i {
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.sidebar a img {
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.sidebar a i > span {
  display: grid;
  place-items: center;
  height: 20px;
  width: 20px;
  padding: 0 3px;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  right: 4px;
  border: 1px solid #ffffff;
  background: #17a803;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar a i > em {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  top: -14px;
  right: 9px;
  border: 1px solid #ffffff;
  background: #17a803;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar a span {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.navbar__button{
  display: none;
}


.side-menu__footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 230px;
  
}
.side-menu__footer-links {
  display: flex;
  color: #797B79;
  
}
.side-menu__footer-list  {
  list-style: none;
  padding: 0 12px;
  
}
.side-menu__footer-list a  {

  font-size: 11px;
  font-weight: 600;
  
}
.side-menu__footer-item {
  display: inline-block;
}
.side-menu__footer-item:not(:last-of-type)::after {
  content: '\00B7';
  margin: 0 0.5px;
}
.side-menu__footer-item,
.side-menu__footer-link,
.side-menu__footer-copyright {
  font-size: 11px;
  font-weight: 400;
  color: var(--text-light);
  text-decoration: none;
}

 .next{
 margin-top: -120px; 
 
}
.back{
  margin-top: 17px;
}
.side-menu__footer-copyright {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.post__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 2px;
  margin-top: -23px;
}

.pop{
  margin-left:180px;
  width: 360px;
}
.pop1{
  margin-left:180px;
  width:360px
}
.title{
  font-weight:700;
  font-size:16px;
  margin-left:195px;
}

.title1{
  font-weight:700;
  font-size:16px;
  margin-left:180px;
  margin-top: 30px;
}
.title2{
  font-weight:700;
  font-size:16px;
  margin-left:300px;
  margin-top:24px;
}
.country{
  margin-left:180px;
  width:360px;
}
.location{
  margin-left:180px;
  width:360px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  width: 748px;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  margin-left: -164px;
  height: 510px;
  
}
.register{
  font-weight:700;
  font-size: 16px;
  margin-left:195px;
}
.white{
  margin-left:180px;
  width: 360px;
}
.dot{
  width: 70px;
  color:black;
  margin-right: 10px;
}
.dot1{
  width:100%;
 
}
.circle{
  font-weight:700;
  width: 64px;
  height: 64px;
  margin-left:172px;
}
.lorum{
  font-size:15px;
  margin-left:150px;
  margin-top:14px;
}
.email{
  font-size:15px;
  margin-left:280px;
}
.modal-footer {
  border-top: 0 none;
  
}
.modal-header {
  border-bottom: 0 none;
}

.modal-contents {

  flex-direction: column;
  width: 748px;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  height: 980px;
  
}
.form-control::placeholder { 
  color:#ffffff;
 
}
.dot.form-control::placeholder { 
  color:#000;
 
}
.mark.form-control::placeholder{
  color:#959595;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 0;
  
  }
  .nav-tabs {
    border-bottom: 0px solid transparent;
    
  }
  .nav-tabs .nav-link {
    border: 0px solid transparent;
   
    
  }
  .btn:hover {
    background-color: #17A803; 
  }
  .btn:active{
    background-color: #17A803;
  }
  
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    
    
    outline: none;
  }
  
  form.nosubmit {
   border: none;
   
   
  }
  
  input.nosubmit {
    border: 0px solid #EEEEEE;
    width: 100%;
    padding: 9px 4px 9px 40px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    //  margin-left: 5px;
     margin-top: 35px;
     border-radius: 5px;
    
     background-color: #eeebeb;
    }
 
    input.nosubmits {
      border: 0px solid #ffffff;
      width: 400px;
      padding: 9px 4px 9px 40px;
       background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
       margin-left: 300px;
       margin-top: 35px;
       border-radius: 10px;
      
       background-color: #ffffff;
      }
        
        
      input.nosubmit1 {
        border: 0px solid #EEEEEE;
        width: 850px;
        padding: 9px 4px 9px 40px;
         background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
         margin-left: -2px;
         margin-top: 35px;
         border-radius: 5px;
        
         background-color: #EEEEEE;
        }
       .filters-icon{
        margin-left: 4px;
        height: 42px;
        margin-top: -4px;
       }

    .side-menu-section {
     
      margin-left: 390px;
       
  }

  .max{
    width:44px;
    height:44px;
  }
  #tabs{
    background:transparent;
      color: #eee;
      margin-left: 385px;
  }
  // .nav-tabs {
  //   border-bottom: 0px solid transparent;
  //   /* margin-left: 130px; */
  //   display: flex;
  //   justify-content: space-around;
  // }
  #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: #f3f3f3;
      background-color: transparent;
      border-color: transparent transparent #f3f3f3;
      
   
  }
  #tabs .nav-tabs .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      color: #959595;
      font-size: 16px;
  }
  #tabs .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.cax{
 width:900px;
 height:910px;
}

.line{
  color:#000;
  width:900px;
  
 }
 .line1{
 color:#000;
 width:900px;
 }
// .navbar__button.profile-button .profile-button__border {
//   width: 28px;
//   height: 28px;
//   border-width: 2px;
// }

// .navbar::after {
//   content: '';
//   position: absolute;
//   top: 0;
  
//   width: 100%;
//   height: 1px;
//   background-color: var(--border);
// }
 


.main-container {
  background-color: var(--primary);

  margin-top: var(--header-height);
  margin-bottom: var(--nav-height);

  display: flex;
  flex: 1;
}

.content-container {
  width: 100%;
  max-width: 795px;
  // padding: 0 0 8px;
  margin: 0 auto;
  display: flex;
}
.content {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.stories {
  width: 100%;
  background-color: var(--primary);
  padding: 16px 0;
  flex-shrink: 0;

  position: relative;
  overflow: hidden;
}
.stories::after {
  content: '';
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 1px;
  background-color: var(--border);
}
.stories__content {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 16px;
  padding: 15px 0px;
  position: relative;
  margin-left: -6px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.stories__content::-webkit-scrollbar {
  display: none;
}
.posts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.stories__left-button,
.post__left-button,
.stories__right-button,
.post__right-button {
  width: 24px;
  height: 24px;
  display: none;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.stories__left-button {
  left: 10px;
}
.stories__right-button {
  right: 10px;
}
.story {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.story__avatar {
  position: relative;
}
.story__border {
  width: 64px;
  height: 64px;

  fill: none;
  stroke: var(--story-border);
  stroke-width: 1.5;
}
.story--has-story .story__border {
  /* stroke: url(#--story-gradient); */
  stroke: var(--story-gradient);
  stroke-width: 2;
}
.story__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
}
.story__picture::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.posts{
  background:white ;
  margin-top: 9px;
  border: 1px #EEEEEE;
}
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post__header {
  background-color: var(--primary);
  border-bottom: 1px solid var(--border);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 23px;
}
.post__profile {
  display: flex;
  align-items: center;
  gap: 12px;
}
.post__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.post__avatar1 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-left: -40px;
}


.post__avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}
.post__user {
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-decoration: none;

}

.product-name-shared{
  display: inline-flex;
  width: 150px; /* Adjust the value as per your requirement */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__more-options {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: -32px;
   margin-right: -12px;
   
}

.post__content {
  display: flex;
  position: relative;
}
.post__medias {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;

  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.post__medias::-webkit-scrollbar {
  display: none;
}
.post__media {
  width: 100%;
  flex: none;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.post__footer {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 12px;
  margin-bottom: 22px;
}
.post__buttons {
  display: flex;
  position: relative;
  gap: 4px;
}
.post__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 2px;
  padding: 10px;
}
.post__button--align-right {
  margin-left: auto;
}
.post__indicators {
  display: flex;
  align-items: center;
  gap: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.post__indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-light);
}
.post__indicator--active {
  background-color: var(--link);
}

.post__infos {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 10px;
  margin-top: -9px;
}
.locks{
  position: absolute;
  margin-left: 35rem;
  float: right;
  margin-top: -70px;
}
.post__info {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 10px;
  margin-top: -36px;
}
.post__likes,
.post__description {
  display: flex;
}
.post__likes {
  align-items: center;
  gap: 6px;
  
}
.post__likes-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.post__likes-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}
.post__likes span,
.post__description span {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-dark);
}
.post__likes a,
.post__description a {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-dark);
  text-decoration: none;
}
.post__name--underline:hover {
  text-decoration: underline;
}
.post__date-time {
  font-size: 10px;
  font-weight: 400;
  color: var(--text-light);
  text-transform: uppercase;
}




.side-menu__user-profile {
  display: flex;
  align-items: center;

  margin: 20px 0 22px;
}
.side-menu__user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.side-menu__user-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}
.side-menu__user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 4px;
}
.side-menu__user-info a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
  text-decoration: none;
  text-transform: lowercase;

  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.side-menu__user-info span {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);

  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.side-menu__user-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 12px;
  font-weight: 500;
  color: var(--link);

  flex-shrink: 0;
}

.side-menu__suggestions-section {
  display: flex;
  flex-direction: column;
  margin-left: -323px;
  margin-top: 23px;
}




.side-menu__suggestions-header {
  display: flex;
  justify-content: space-between;
}
.side-menu__suggestions-header h2 {
  font-size: 16px;
  font-weight: 600;
  /* color: var(--text-light); */
  color: #000;
 
}
.side-menu__suggestions-headers h2 {
  font-size: 19px;
  font-weight: 600;
  /* color: var(--text-light); */
  color: #000;
 
}
.side-menu__suggestions-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-dark);
}

.side-menu__suggestions-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 16px 0 24px;
  padding-left: 4px;
}




//
.side-menu__suggestions-sections {
  display: flex;
  flex-direction: column;
  margin-left: -393px;
  margin-top: 3px;
}
.side-menu__suggestions-contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 16px 1px 0px;
  padding-left: 4px;
}
.side-menu__suggestions {
  display: flex;
  align-items: center;
}
.side-menu-sections {
     
  margin-left: 390px;
   
}
.side-menu__suggestion-avatars {
  
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
  img{
    width: 42px;
    height: 42px;
  }
}
.side-menu__suggestion-avatars::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}
.side-menu__suggestion-infos {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 1px;
  text-decoration: none;
}
.side-menu__suggestion-infos a {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-dark);
  text-decoration: none;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.side-menu__suggestion-infos a:hover {
  text-decoration: underline;
}
.side-menu__suggestion-infos span {
  font-size: 13px;
  font-weight: 400;
  color: #959595;

  max-width:200px;
  text-overflow: ellipsis;
  overflow: hidden;
 line-height: 14px;
}

//




.side-menu__suggestion {
  display: flex;
  align-items: center;
}

.side-menu__suggestion-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.side-menu__suggestion-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.side-menu__suggestion-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 1px;
  text-decoration: none;
}
.side-menu__suggestion-info a {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-dark);
  text-decoration: none;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.side-menu__suggestion-info a:hover {
  text-decoration: underline;
}
.side-menu__suggestion-info span {
  font-size: 13px;
  font-weight: 400;
  color: #959595;

  max-width:200px;
  text-overflow: ellipsis;
  overflow: hidden;
 line-height: 14px;
}

.side-menu__suggestion-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  /* color: var(--link); */
  flex-shrink: 0;

}
.greens{
  background-color: #17A803;
  height: 13px;
  width: 13px;
  position: absolute;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 4px;
}
.numbers{
  color: white;
  font-size: 7px;
  margin-left: 1px;
  text-align: center;
  margin-top: 1px;
}
.side-menu__suggestion-button1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  
  flex-shrink: 0;
  margin-right: -32px;
  margin-top: -23px;
}
.side-suggestion-button1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  
  flex-shrink: 0;
  margin-right: 23px;
  margin-top: -23px;
}
.side-menu__suggestion-button2 {
 
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
  margin-right: -39px;
  margin-top: -23px;
  background-color:#17a803;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 26px;
}
.side-suggestion-button2 {
 
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
  margin-right: 32px;
  margin-top: -23px;
  background-color:#17a803;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 26px;
}
.side-menu__suggestion-buttons {
 
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
  margin-left: 32px;
  margin-top: -23px;
  background-color:#17a803;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 32px;
}

.side-menu__suggestion-button3 {
 
  cursor: pointer;
  font-size: 15px;
  flex-shrink: 0;
  margin-left: 2px;
  margin-top: -23px;
  background-color:#EFEFEF;
  border: none;
  color: #000000;
  padding: 0px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 32px;
}

.btn-success {
  cursor: pointer;
  font-size: 13px;
  background-color:#343C42;
  border-radius: 5px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  display: flex;
}


// .today {
 
//   cursor: pointer;
//   font-size: 13px;
//   margin-left: 312px;
//   margin-top: 3px;
//   background-color:#343C42;
//   border: none;
//   color: rgb(255, 255, 255);
//   padding: 2px 15px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   border-radius: 5px;
//   cursor: pointer;
  
  
// }


.side-menu__footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 230px;
}
.side-menu__footer-links {
  display: flex;
}
.side-menu__footer-list {
  list-style: none;
}
.side-menu__footer-item {
  display: inline-block;
}
.side-menu__footer-item:not(:last-of-type)::after {
  content: '\00B7';
  margin: 0 0.5px;
}
.side-menu__footer-item,
.side-menu__footer-link,
.side-menu__footer-copyright {
  font-size: 11px;
  font-weight: 400;
  color: var(--text-light);
  text-decoration: none;
}
.side-menu__footer-copyright {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
}
.profile-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.profile-button__border {
  display: none;

  width: 30px;
  height: 30px;
  border: 1px solid var(--text-dark);
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-button:focus .profile-button__border {
  display: block;
}
.profile-button__picture {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  overflow: hidden;
  position: relative;
}
.profile-button__picture::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.text_followers{
  margin-left: -1px;
  font-size: 16px;
  font-weight: 600;
  margin-top: -14px;
}
.background{
  margin-right:-23px;
}
.language {
  display: flex;
  align-items: center;
  gap: 4px;
}

.users {
  display: flex;
  flex-direction: column;
   
}

.time {
  font-size: 13px;
  color: #959595;
  font-weight: 500;
  margin-top: -4px;
  font-family: 'inter' sans-serif;
}


.post_description{
    display: flex;
    position: relative;
    padding: 0 8px;
}

.post_des{
  font-size: 13px;
  
}

.lan {
  align-items: center;
  display: flex;
  gap: 1px;
}

.comments {
  font-size: 15px;
  margin-top: -12px;
  color: #959595;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 74%;
}


.bx {
  background-color: #EEEEEE;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 26px;
  
}

// .profile {
//   padding: 7px 0px;
// }
// .profile2 {
//   padding: 52px 0px;
// }
// .profile3 {
//   padding: 76px 0px;
// }
// .profile::after {
//   content: "";
//   display: block;
//   clear: both;
// }

// .profile-image {
//   float: right;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 175px;
//   margin-top: -4px;
// }

// .profile-image img {
//   width: 190px;
//   height: 190px; 
//   //  margin-top: -14px;
//  }
// .profile-images {
//   float: right;
  
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 175px;
//   margin-top: -4px;
// }
// .profile-images img {
//   width: 190px;
//   height: 190px; 
//    margin-top: 5px;
//  }
//  .profile-shop {
//   float: right;
  
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 175px;
//   margin-top: -4px;
// }
// .profile-shop img {
//   width: 190px;
//   height: 190px; 
//    margin-top: 32px;
//  }
//  .profile-stadium {
//   float: right;
  
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 175px;
//   margin-top: -4px;
// }
// .profile-stadium img {
//   width: 190px;
//   height: 190px; 
//    margin-top: 32px;
//  }

 

// .profile-cam1 {
//   float: right;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width:44px;
//   height:44px;
//   margin-right: -175px;
//   margin-top: 124px; 
// }
// .profile-cam2 {
//   float: right;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width:44px;
//   height:44px;
//   margin-right: -175px;
//   margin-top: 144px; 
// }



// .profile-user-settings,
// .profile-stats,
// .profile-bio {
//   float: left;
//   width: calc(106.666% - 2rem);
// }

// .cards{
// width:910px;
// margin-left:395px;
// margin-top:23px;
// height:100%;
// }
// .container2{
//   width:910px;
// }

// .profile-user-name {
//   display: inline-block;
//   font-size: 15px;
//   font-weight: 500;
//   color: #000;
//   margin-bottom: 1px;
// }

// .profile-user-names {
//   display: inline-block;
//   font-size: 15px;
//   font-weight: 600;
//   color: #000;
  
// }

// .profile-edit-btn {
//   font-size: 15px;
//   line-height: 1.8;
//   background: #EEEEEE;
//   border-radius: 0.3rem;
//   padding: 0 22px;
//   margin-left: -9px;
//   font-weight: 600;
// }
// .profile-edit-btn1 {
//   font-size: 15px;
//   line-height: 1.8;
//   background: #8A8A8A;
//   color: white;
//   border-radius: 0.3rem;
//   padding: 0 22px;
//   font-weight: 600;
//   margin-left: 47px;
// }
// .profile-settings-btn {
 
//   margin-left: 16px;
  
  
// }
// .profile-stat-count{
//   font-weight: 500;
//   font-size: 15px;
  
// }

// .profile-stats {
//   margin-top: 50px;
//   margin-left: -130px;
//   font-weight: 400;
//   display: flex;
//   justify-content: center;
// }

// .profile-stats li {
//   display: inline;
//   font-size: 15px;
//   margin-right:12px;
//   cursor: pointer;

// }

// .profile-stats li:last-of-type {
//   margin-right: 2px;
// }



.tost{
  color: black;
  text-decoration: none;
  margin-top: 2px;
  margin-left: 7px;
  
}
.container {
  position: relative;
  width: 1164px;
  max-width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  margin-right: 0px;
  margin-top: 10px;
 
  
}
.container .leftSide {
  position: relative;
  flex: 43%;
  border-right: transparent;
}
.container .leftSides {
  position: relative;
  flex: 43%;
  border-right: transparent;
}

.container .rightSide {
  position: relative;
  flex: 71%;
  background: transparent;

}
.container .rightSide1 {
  position: relative;
  flex: 71%;
  background: transparent;
}
.container .rightSides {
  position: relative;
  flex: 71%;
  background:#ffffff;
  margin-top: -10px;
}


.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
}

.userimg {
  position: relative;
 
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  object-fit: cover; 
}
.pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  object-fit: cover;
  margin-top: 35px;
  margin-left: 35px;
}
.nav_icons {
  display: flex;
}

.nav_icons li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #51585c;
  font-size: 1.5em;
  margin-left: 22px;
 
}

.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  margin-top: -21px;
}
.search_chat div {
  width: 100%;
}
.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: #ffffff;
  padding: 21px;
  height: 41px;
  border-radius: 10px;
  font-size: 14px;
  margin-left: -1px;
  color: #000;
}
.search_chat div input::placeholder {
  color: #000000;
}

.search_chat div ion-icon {
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 12px;
}

.chatlist {
  position: relative;
  height: calc(100% - 110px);
  overflow: auto;
}

.chatlist .block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-left: -6px;
}



.chatlist .block .imgBox {
  position: relative;
  min-width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -10px;
}
.chatlist .block .details {
  position: relative;
  width: 100%;
}

.chatlist .block .details .listHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

.chatlist .block .details .listHead p {
  font-size: 13px;
  font-weight: 500;
  color: #111;
}

.chatlist .block .details .listHead .time {
  font-size: 11px;
  color: #aaa;
}

.chatlist .block .details .listHead .time {
  color: #111;
}

.chatlist .block.unread .details .listHead .time {
  color:#17a803;
}
.chatlist .block .details .listHead b {
  background:#17a803;
  color: #fff;
  min-width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
}

.bell-icon {
  position: relative;
 
  border-radius: 50%;
  display: flex;
  svg {
    margin: auto;
    position: relative;
    stroke: rgba(0, 0, 0, 0.75);
  }
 
}

.notification-amount {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20%;
  right: 24%;
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Copse", serif;
  font-size: 14px;

}
.message_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message_p b {
  background:#17a803;
  color: #fff;
  min-width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
}
.missed-call{
  color: #17A803;
  font-size: 14px;
  text-align: center;
   margin-bottom: -22px;
  position: relative;
}
.message_p p {
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 14px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message_p p.time {
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 11px;
  font-weight: 600;
 margin-top: 5px;
 margin-right: -3px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgText h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
}

.imgText h4 span {
  font-size: 0.8em;
  color: #555;
}

///sajin___chatbox///
.chatbox {
  position: relative;
  width: 100%;
  overflow-y: auto;
  padding: 50px;
  height: calc(100% - 120px);
}

.message {
  position: relative;
  display: flex;
  width: 100%;
  word-break: break-all;
  clear: both;
}
.message p {
  position: relative;
  right: 0;
  text-align: left;
  max-width: 65%;
  padding: 12px;
  background: #17A803;
  color: #fff;
  border-radius: 10px;
  font-size: 0.9em;
}
.message p::before{
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height:20px;
  background: linear-gradient(135deg,#17A803 0%,#17A803 50%,transparent 50%,transparent);
}
.frnd_chatam {
  color: #959595;
  font-size: 0.85em;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}
.frnd_message.chatam {
  opacity: 0.5;
 color: #959595;
 justify-content: flex-end;
}
.my_chatam {
  color: #959595;
  font-size: 0.85em;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

// .message p span{
//   display: block;
//   margin-top: 5px;
//   font-size: 0.85em;
//   opacity: 0.5;
// }
.my_message {
  justify-content: flex-end;
}
.frnd_message {
  justify-content: flex-start;
}
.frnd_message p {
  background: #343C42;
  text-align: left;
  color: #fff;
  margin-bottom: 8px;
}
.message.frnd_message p::before{
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height:20px;
  background: linear-gradient(225deg,#343C42 0%,#343C42 50%,transparent 50%,transparent);
}
///sajin chatbox end///


// .chatbox {
//   position: relative;
//   width: 100%;
//   height: calc(100% - 120px);
//   padding: 25px;
//   overflow-y: auto;
//   background: transparent;
//   margin-top: 3px;
// }
// .message {
//   position: relative;
//   display: flex;
//   width: 100%;
//   margin: 13px 0;
//   clear: both;
//   color: #212121;
//   float: left;
//   font-size: 13px;
//   padding: 8px 16px;
//   position: relative;
//   word-break: break-all;
// }

// .message p {
//   position: relative;
//   right: 0;
//   text-align: right;
//   max-width: 65%;
//   padding: 10px;
//   background: #17A803;
//   border-radius: 10px;
//   font-size: 14px;
//   color: #ffffff;
//   border-radius: 10px 0px 10px 10px;
// }



// .message p span {
//   display: block;
 
//   font-size: 14px;
//   opacity: 0.5;
//   color:'#FFFFFF';
//   height: 20px;
// }

// .my_msg {
//   justify-content: flex-end;
// }

// .friend_msg {
//   justify-content: flex-start;

// }

// .friend_msg p {
//   background: #343C42;
//   text-align: left;
//   color: #ffffff;
//   border-radius: 0px 10px 10px 10px;
// }


.chat_input {
  position: relative;
  width: 100%;
  height: 94px;
  background: #616661;
  padding: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.chat_input input {
  position: relative;
  width: 89%;
  margin: 0px 2px;
    margin-left: 2px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 14px;
  margin-left: -8px;
  background-color: #ffffff;
}
.minute{
color: gray;
margin-right: 8px;
margin-top: 44px;
font-size: 12px;
position: absolute;
}
.minutes{
  color: gray;
  margin-left: 66px;
  margin-top: 44px;
  font-size: 12px;
  position: absolute;
  }
  .minute1{
    color: gray;
    margin-left: 175px;
    margin-top: 44px;
    font-size: 12px;
    position: absolute;
    }

    .sent {
 
      cursor: pointer;
      font-size: 13px;
      flex-shrink: 0;
      margin-left: 282px;
      margin-top: 331px;
      background-color:#656565;
      border: none;
      color: rgb(255, 255, 255);
      padding: 7px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      cursor: pointer;
      
      
    }
    .tex-message{
      margin-left: 203px;
      margin-top: 240px;
      position: absolute;
    }
    p.note {
      color: #aaa;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      font-size: 14px;
      font-weight: 600;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

.address-card{
  width: 85%;
}
    
 .images{
  position: relative;
  height: calc(100vh - 40px);
  display: flex;
  margin-right: 0px;
  
 }
 .image{
  width: 290px;
  height: 290px;

 }

.forget{
  margin-left:240px;
  cursor:pointer;
  text-decoration:none;
  color:black;
}

.submit1{
  background-color:#17A803;
  font-weight:700;
  width:360px;
}
.mobile-nav{
  display: none;
}
.text_follower{
  display: none;
}


.side-container{
  margin-left: 320px;
  margin-top: -13px;
  width:800px;
  
  justify-content: center;
}
.side {
  height: 78%;
  width: 240px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  margin-left: 256px;
  margin-top: 143px;
}

.side a {
  padding: 7px 10px 5px 20px;
  text-decoration: none;
  font-size: 17px;
  color: #000000;
  display: block;
  margin-top: 16px;
}

.side a:hover {
  color:#17A803;
}
.svg:hover {
  path:hover{stroke:#17A803;}
}
.content-page {
  margin-left: 240px; /* Same as the width of the sidenav */
  padding: 0px 5px;
  margin-top: 70px;
  background-color: white;
  width: 650px;
  height: 540px;
}
.content-pages {
  margin-left: 240px; /* Same as the width of the sidenav */
  padding: 0px 5px;
  margin-top: 58px;
  background-color: white;
  width: 650px;
  height:100%;
  min-height:500px;
}
.field{
font-size:15px;
font-weight:500;
margin-left: 20px;
margin-bottom: -12px;
}
.head{
  font-size:20px;
  font-weight:500;
   margin-left: 14px;
}
.wallet{
  margin-top: 12px;
  width: 620px;
  margin-left: 12px;
  background: #17A803;
}
.wallet-name{
  font-size: 16px;
  display:-webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  font-weight: 400;
}
.wallet-img{
 width: 54px; 
 height: 54px;
 object-fit: cover;
}
.rate-dinar{
  font-size: 16px;
}
.expires-date {
  font-size: 16px;
  display:-webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  font-weight: 400;
}
.side-menus__suggestions-btns {
 
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
  margin-right: 62px;
  float:right;
  margin-top: -3px;
  background-color:#17a803;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 19px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 32px;
}
.favouite-cards{
  background-color:#EEEEEE;
  border-radius:12px 12px 12px 12px;
  border: 0px;
  margin-top: -32px;
  
 }
 .top-p{
   font-size:14px;
   color:#959595;
   font-weight:400;
   margin-top: -12px;
   
 }
 .down-p{
   color:#17A803;
   font-size:16px;
   font-weight:600;
   margin-top: -14px;
 }
 .wraps{
  font-size:15px;
  color:rgb(0, 0, 0);
  font-weight:400;
  text-overflow:ellipsis;
  white-space:pre;
  overflow:hidden;
  width: 100%;
}
.store{
 
  row-gap: 12px;
}
.store-card{
  background-color:#EEEEEE;
  border-radius:7%;
  border:0px;
  margin-top: -27px;
  width:170px;
  margin-left:-6px;
}
@media(max-width:1360px){
  .content {
   
    max-width: 600px;
    
  }
  .locks{
    position: absolute;
    margin-left: 32rem;
    float: right;
    margin-top: -70px;
  }
  .rightSide{
    display: none;
  }
  
  .rightSides{
    display: none;
  }
  .leftSides{
    display: none;
  }
  .rightSide1{
    display:block;
  }
  .cards{
    width:810px;
    margin-left:395px;
    margin-top:23px;
    height:100%;
    }
    .container2{
      width:100%;
    }
 
    form.nosubmit {
      border: none;
      width:100% ;
      
     }
}
@media(max-width:1249px){
  .content {
    max-width: 580px;
  }
  .text_followers {
    margin-left: 7px;
  }
  .rightSide{
    display: none;
  }
  .rightSide1{
    display:block;
  }
  .rightSides{
    display: none;
  }
  .leftSides{
    display: none;
  }
  .locks{
    position: absolute;
    margin-left: 30rem;
    float: right;
    margin-top: -70px;
  }

  //sajin favourite product //

  .content-pages {
    margin-left: 210px;
    width: 630px;
  }

.side {
  margin-left: 210px;
}
    
input.nosubmit1 {
  width: 90%;
  margin-left: -2px;
}
 .filters-icon{
  margin-left: 4px;
  height: 42px;
  margin-top: -4px;
 }

 
}

@media(max-width:1100px){
  .side-menu-section {
    display: none;
  }
  .content {
    max-width: 707px;
    margin-right: 0px;
  }
  .rightSide{
    display: none;
  }
  .rightSides{
    display: none;
  }
  .leftSides{
    display: none;
  }
  .rightSide1{
    display:block;
  }

  //sajin feedback start //

  .content-page {
    margin-left: 260px;
    padding: 0px 5px;
    margin-top: 58px;
    background-color: white;
    width: 62%;
  }
  input.nosubmit1 {
    width: 90%;
    margin-left: -2px;
  }
   .filters-icon{
    margin-left: 4px;
    height: 42px;
    margin-top: -4px;
   }
   .locks{
    position: absolute;
    margin-left: 30rem;
    float: right;
    margin-top: -70px;
  }
   
  
    //sajin feedback end //
}

@media(max-width:1025px){
  .content {
    max-width: 635px;
  }
  .rightSide{
    display: none;
  }
  .rightSides{
    display: none;
  }
  .leftSides{
    display: none;
  }
  .rightSide1{
    display:block;
  }
 
 
}

@media(max-width:936px){
  .content {
    max-width: 580px;
  }
  .rightSide{
    display: none;
  }
  .rightSides{
    display: none;
  }
  .leftSides{
    display: none;
  }
  .rightSide1{
    display:block;
  }
  //sajin feedback start //

  .content-page {
    margin-left: 223px;
  }
  .navbar1 {
    display: none;
   
  }
  .navbar1::after {
    content: '';
    position: absolute;
    top: 0;
  
    width: 100%;
    height: 1px;
    background-color: var(--border);
  }
  
  .navbar__button1 {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar1__button.profile-button1 .profile-button__border {
    width: 28px;
    height: 28px;
    border-width: 2px;
  }

  .side {
    margin-left: 225px;
  }
  //sajibn feedback end //
}

@media(max-width:769px){
  .content {
    max-width: 466px;
    margin-right: 50px;
  }
  .rightSide{
    display: none;
  }
  .rightSides{
    display: none;
  }
  .leftSides{
    display: none;
  }
  .rightSide1{
    display:block;
  }
  .rightSide1{
    display:block;
    width: 560px;
  }
  .title{
    font-weight:700;
    font-size:16px;
    margin-left: 22px;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    margin-left: 1px;
    height: 100%;
    margin-top: 23px;
  }
  .modal-contents {

    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    height: 100%;
    
  }
  .country{
    margin-left: 6px;
    width: 100%;
}
.location{
  margin-left: 6px;
  width: 100%;
}

.title1{
  font-weight:700;
  font-size:16px;
  margin-left:6px;
  
}
  .pop{
    margin-left: 6px;
    width: 100%;
  }
  .pop1{
    margin-left: 6px;
    width: 100%;
  }
  .submit1{
    background-color:#17A803;
    font-weight:700;
    width: 100%;
    
  }
  .forget{
    margin-left: 345px;
    cursor:pointer;
    text-decoration:none;
    color:black;
  }
  .register{
    font-weight:700;
    font-size: 16px;
    margin-left:22px;
  }
  .white{
    margin-left:6px;
    width: 100%;
  }

  // sajin favourite-product start//
  .sidebar {
    display: none;
  }

  .side {
    height: 100%;
    width: 240px;
    margin-left: 0px;
    margin-top: 86px;
  }

  .side-container {
    margin-left: 250px;
    margin-top: 0px;
}

.content-pages {
   margin-left: 0px;
   padding: 0px 0px;
  margin-top: 0px; 
  width: 650px;
}

.content-page {
  margin-left: 0;
  padding: 0px;
  margin-top: 0px;
  width: 100%;
}
// sajin favourite-product end//
}

@media(max-width:700px){
  .content {
    max-width: 466px;
    margin-right: 21px;
  }
  .sidebar {
    width: 170px;
  }
  .rightSide{
    display: none;
  }
  .rightSides{
    display: none;
  }
  .leftSides{
    display: none;
  }
  .rightSide1{
    display:block;
  }
  .rightSide1{
    display:block;
    width: 560px;
  }
  
  .title{
    font-weight:700;
    font-size:16px;
    margin-left: 22px;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    margin-left: 1px;
    height: 100%;
    margin-top: 23px;
  }
  .modal-contents {

    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    height: 100%;
    
  }
  
  .pop{
    margin-left: 6px;
    width: 100%;
  }
  .pop1{
    margin-left: 6px;
    width: 100%;
  }
  .submit1{
    background-color:#17A803;
    font-weight:700;
    width: 100%;
    
  }
  .forget{
    margin-left: 345px;
    cursor:pointer;
    text-decoration:none;
    color:black;
  }
  .country{
    margin-left: 6px;
    width: 100%;
}
.location{
  margin-left: 6px;
  width: 100%;
}

.title1{
  font-weight:700;
  font-size:16px;
  margin-left:6px;
}
.white{
  margin-left:6px;
  width: 100%;
}
}



@media(max-width:659px){
  .sidebar {
    display: none;
  }
  input.nosubmit {
 
    width: 100%
  
    }
  .content {
    max-width: 537px;
    margin-top: -6px;
  }
  .navbar__button{
    display: block;
    margin-left: 34px;
  }
  .create-btn {
    display: none;
 }
 .shop{
  display: none;
 }
 .mobile-nav{
  display:block;
 }
 .web-nav{
  display: none;
 }
 .mobile-logo{
  width: 100px;
  height: 37px;
 }
 .text_follower{
  display: block;
  font-size: 16px;
  font-weight: 600;
 }
 .text_followers{
  display: none;
 }
 .stories__content {
  margin-bottom: -21px;
}
.rightSide{
  display: none;
}
.rightSides{
  display: none;
}
.leftSides{
  display: none;
}

.rightSide1{
  display:block;
  width: 560px;
}
.title{
  font-weight:700;
  font-size:16px;
  margin-left: 22px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  margin-left: 1px;
  height: 100%;
  margin-top: 23px;
}
.navbar1 {
  width: 100%;
  height: 50px;
  background-color: var(--primary);
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 50px;
 
}
.modal-contents {

  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  height: 100%;
  
}
.pop{
  margin-left: 6px;
  width: 100%;
}
.pop1{
  margin-left: 6px;
  width: 100%;
}
.submit1{
  background-color:#17A803;
  font-weight:700;
  width: 100%;
  
}
.forget{
  text-align: end;
  cursor:pointer;
  text-decoration:none;
  color:black;
}
.country{
  margin-left: 6px;
  width: 100%;
}
.location{
margin-left: 6px;
width: 100%;
}

.title1{
font-weight:700;
font-size:16px;
margin-left:6px;
}
.white{
  margin-left:6px;
  width: 100%;
}
}
@media (max-width:567px) {
  .side-menu__suggestions-section {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .text_followers {
    margin-left: 4px;
  }

  .title{
    font-weight:700;
    font-size:16px;
    margin-left: 22px;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    margin-left: 1px;
    height: 100%;
    margin-top: 23px;
  }
  .modal-contents {

    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    height: 100%;
    
  }
  .pop{
    margin-left: 6px;
    width: 100%;
  }
  .pop1{
    margin-left: 6px;
    width: 100%;
  }
  .submit1{
    background-color:#17A803;
    font-weight:700;
    width: 100%;
    
  }
  .forget{
    text-align: end;
    cursor:pointer;
    text-decoration:none;
    color:black;
  }

.title1{
  font-weight:700;
  font-size:16px;
  margin-left:20px;
  margin-top: 30px;
}
.country{
  margin-left:20px;
  width:360px;
}
.location{
  margin-left:20px;
  width:360px;
}


.register{
  font-weight:700;
  font-size: 16px;
  margin-left:22px;
}
.white{
  margin-left:17px;
}
.dot{
  width: 70px;
  color:black;
  margin-left: -165px;
}
.dot1{
  width:100%;
  
}
.circle{
  font-weight:700;
  width: 64px;
  height: 64px;
  margin-left:90px;
}
.title2{
  font-weight:700;
  font-size:16px;
  margin-left:140px;
  margin-top:24px;
}
.lorum{
  font-size:15px;
  margin-left:10px;
  word-break: break-all;
  margin-top:14px;
  width: 410px;
}
.email{
  font-size:15px;
  margin-left:115px;
}
input.nosubmit {
  border: 0px solid #EEEEEE;
  width: 100%;
  padding: 9px 4px 9px 40px;
   background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  
   border-radius: 5px;
  
   background-color:#EEEEEE;
  }
//   #tabs{
//     background:transparent;
//       color: #eee;
//       margin-left: 85px;
//   }
//   .nav-tabs {
//     border-bottom: 0px solid transparent;
//     margin-left: 130px;
    
//   }
//   #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
//       color: #f3f3f3;
//       background-color: transparent;
//       border-color: transparent transparent #f3f3f3;
      
   
//   }
//   #tabs .nav-tabs .nav-link {
//       border: 1px solid transparent;
//       border-top-left-radius: .25rem;
//       border-top-right-radius: .25rem;
//       color: #959595;
//       font-size: 14px;
//   }
//   #tabs .nav-tabs .nav-link:hover {
//     border: 1px solid transparent;
//     border-top-left-radius: .25rem;
//     border-top-right-radius: .25rem;
//     color: #000;
//     font-size: 14px;
//     font-weight: 600;
// }


.line{
 color:#000;
 width:420px;

}
.line1{
  color:#000;
  width:350px;
  }
.cax{
  width:420px;
  height:910px;
  margin-left: 292px;
 }
 .top{
  margin-top: -15px;
 }
 .tost{
  margin-top: -12px;
}
.content {
  margin-top: -26px;
}
.rightSide{
  display: none;
}
.rightSides{
  display: none;
}
.leftSides{
  display: none;
}

.rightSide1{
  display:block;
  width: 560px;
}
.country{
  margin-left: 6px;
  width: 100%;
}
.location{
margin-left: 6px;
width: 100%;
}

.title1{
font-weight:700;
font-size:16px;
margin-left:6px;
}
.white{
  margin-left:6px;
  width: 100%;
}
}

@media(max-width:527px) {
  .title{
    font-weight:700;
    font-size:16px;
    margin-left: 22px;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    margin-left: 1px;
    height: 100%;
    margin-top: 3px;
  }
  .locks{
    position: absolute;
    margin-left: 15rem;
    float: right;
    margin-top: -70px;
  }
  .modal-contents {

    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    height: 100%;
    
  }
  .side-suggestion-button2 {
 
    cursor: pointer;
    font-size: 14px;
    flex-shrink: 0;
    margin-right: 32px;
    margin-top: -23px;
    background-color:#17a803;
    border: none;
    color: rgb(255, 255, 255);
    padding: 0px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    height: 26px;
  }
  .side-suggestion-button1 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    flex-shrink: 0;
    margin-right: 32px;
    margin-top: -23px;
}
//////////////////////////////////////
  .ones{
    display: block;
    
  }
  .wallet-name{
    font-size: 15px;
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    font-weight: 400;
  }
  .rate-dinar{
    font-size: 15px;
  }
  .expires-date {
    font-size: 15px;
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    font-weight: 400;
  }

 
  .wallet {
      margin-top: 12px;
      width: 90%;
      margin-left: 12px;
      background: #17A803;
  }
  .content-pages {
    margin-left: 0px;
    padding: 0px 0px;
   margin-top: 0px; 
   width: 100%;
   background: transparent;
 }

 .side-container{
  width: 94%;
  margin-left: 13px;
}
.sides{
  display: none;
}
.store-card{
  
  width:100%;
}


.content-page {
 
  width: 95%;
  height: 450px;
  margin-top: 23px;
} 

.side-menus__suggestions-btns {
 
  cursor: pointer;

  margin-right: 47px;
  float: right; 
  margin-top: -3px;
  
}

.address-card{
  width: 100%;
}
    
input.nosubmit1 {
  width: 85%;
  margin-left: -2px;
}
 .filters-icon{
  margin-left: 4px;
  height: 42px;
  margin-top: -4px;
 }
 .favouite-cards{

  margin-top: -34px;
  
 }
 .store {
  row-gap: 32px;
}
//////////////////////////////////////




  .pop{
    margin-left: 6px;
    width: 100%;
  }
  .pop1{
    margin-left: 6px;
    width: 100%;
  }
  .submit1{
    background-color:#17A803;
    font-weight:700;
    width: 100%;
    
  }
  .forget{
    text-align: end;
    margin-left: 23px;
    cursor:pointer;
    text-decoration:none;
    color:black;
  }
  .country{
    margin-left: 6px;
    width: 100%;
}
.location{
  margin-left: 6px;
  width: 100%;
}

.title1{
  font-weight:700;
  font-size:16px;
  margin-left:6px;
}
.white{
  margin-left:6px;
  width: 100%;
}
.side{
  display: none;
}

}

@media(max-width:486px) {

}
@media(max-width:440px) {
  .title{
    font-weight:700;
    font-size:16px;
    margin-left: 22px;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    margin-left: 1px;
    height: 100%;
    margin-top: 23px;
  }
  .modal-contents {

    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    height: 100%;
    
  }

  
  .pop{
    margin-left: 6px;
    width: 100%;
  }
  .pop1{
    margin-left: 6px;
    width: 100%;
  }
  .submit1{
    background-color:#17A803;
    font-weight:700;
    width: 100%;
    
  }
  .forget{
    text-align: end;
    margin-left: 23px;
    cursor:pointer;
    text-decoration:none;
    color:black;
  }
.mobile-logo {
  width: 91px;
  height: 35px;
}
.rightSide{
  display: none;
}
.rightSides{
  display: none;
}
.leftSides{
  display: none;
}
.rightSide1{
  display:block;
  width: 560px;
}
.country{
  margin-left: 6px;
  width: 100%;
}
.location{
margin-left: 6px;
width: 100%;
}

.title1{
font-weight:700;
font-size:16px;
margin-left:6px;
}
.white{
  margin-left:6px;
  width: 100%;
}

}

@media(max-width:349px) {
  .title{
    font-weight:700;
    font-size:16px;
   
   
  }
 
  .title{
    font-weight:700;
    font-size:16px;
    margin-left: 22px;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    margin-left: 1px;
    height: 100%;
    margin-top: 23px;
  }
  .modal-contents {

    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    height: 100%;
    
  }
  .pop{
    margin-left: 6px;
    width: 100%;
  }
  .pop1{
    margin-left: 6px;
    width: 100%;
  }
  .submit1{
    background-color:#17A803;
    font-weight:700;
    width: 100%;
    
  }
  .forget{
    margin-left: 23px;
    cursor:pointer;
    text-decoration:none;
    color:black;
  }
  .country{
    margin-left: 6px;
    width: 100%;
}
.location{
  margin-left: 6px;
  width: 100%;
}

.title1{
  font-weight:700;
  font-size:16px;
  margin-left:6px;
}
.white{
  margin-left:6px;
  width: 100%;
}

}
