@import "themes/theme";
@import "themes/language";
$primary-color: #17a803;
// react-bootstrap tab
.nav-tabs .nav-link.active {
  color: $primary-color !important;
}
.nav-tabs .nav-link {
  color: var(--font-theme-color);
}
.field-maps {
  .nav-tabs {
    background-color: var(--secondary);
  }
}

.tour_detail_tabs {
  .nav-tabs .nav-link {
    padding: 5px;
  }
}
.play_detail_tabs {
  .nav-tabs .nav-link {
    padding: 3px;
  }
}
.modal-in {
  width: 359px;
}

.game-choose1 {
  .ant-modal-footer .ant-btn {
    background-color: $primary-color;
  }
}

//support message

.message-section {
  height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-content {
  flex-grow: 1;
}

.message-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message-avatar {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.message-text {
  flex-grow: 1;
}

.post-message-input {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: var(--contents-bg);
  padding: 10px;
  bottom: -12px;
}

.post-message-input .message-avatar {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.post-message-input .message-input {
  flex-grow: 1;
}

.instagram-post-skeleton {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
}

.instagram-post-skeleton-content {
  margin-left: 16px;
  flex-grow: 1;
}

//chat
.right-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #17a803;
  cursor: "pointer";
}

.profile-rank-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--font-theme-color);
}
.star-info-content {
  color: var(--font-theme-color);
}

.skeleton-container {
  height: "100vh"; // 100% viewport height
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.modal-bt {
  background-color: #17a803;
  font-weight: 600;
  width: 363px;
}

.ant-empty-description {
  color: var(--font-theme-color);
}

@media (max-width: 567px) {
  .modal-in {
    width: 100%;
  }
  .modal-bt {
    width: 100%;
  }
}

/* Story.css */

.story-card {
  width: 300px;
  margin: 16px;
}

.story-images img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

/* Style the header section */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header .username {
  font-weight: bold;
}

/* Style the story image */
.story-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Style the caption */
.caption {
  font-size: 14px;
  text-align: center;
}
