
$primary-color:#17A803;
// react-bootstrap tab
 .nav-tabs .nav-link.active{
  color:$primary-color !important;
 }
 .nav-tabs .nav-link{
  color:black;
 }

 .tour_detail_tabs{
    .nav-tabs .nav-link{
        padding: 5px;
    }

 }



 