[data-theme="light"] {
  --background: rgb(208, 18, 18);
  --foreground: white;
  --primary: #ffffff;
  --font-theme-color:#000;
  --user-name-color: #000;
  --profile-btn-rank: #eeeeee;

  .dark-theme-color {
    color: #000;
  }
}

[data-theme="dark"] {
  //main

  --primary: #192126;
  --secondary: #343c42;
  --white-color: #ffffff;
  --sidebar-color: #ffffff;
  --font-theme-color: #ffffff;

  //profile

  --user-name-color: #959595;
  --profile-btn-rank: #192126;


  //modals

  .ant-modal {
    .ant-modal-content {
      background-color: var(--primary);
      .ant-modal-close-x {
        color: var(--white-color);
      }
      .ant-modal-body {
        color:#FFFF;
        .form-control {
          border: none;
        }
      }
      .ant-modal-header {
        background-color: var(--primary);
        .ant-modal-title {
          color: var(--white-color);
        }
      }
    }
  }
  .dark-theme-color {
    color: var(--white-color);
  }

  //footer
  --side-footer-color: #ffffff;
  //posts
  --posts-bg: #343c42;
  --posts-color: #ffffff;
  .three-dots {
    color: #ffffff !important;
  }
  --background: black;
  --foreground: white;
}
