[data-theme="light"] {
  // --background: rgb(208, 18, 18);
  // --foreground: white;
  --primary: #f1f2f6;
  --modal-primary: #ffffff;

  --font-theme-color: #000;
  --user-name-color: #000;
  --profile-btn-rank: #eeeeee;
  --posts-bg: #ffffff;
  --contents-bg: #ffffff;

  //store

  --row-list-alt: #eeeeee;
  --ad-input-form-color: #eeeeee;

  //tournmaent
  --dark-sec-white: #eeeeee;

  .dark-theme-color {
    color: #000;
  }
  .dark-theme-color-grw {
    color: #17a803;
  }
  .dark-theme-gd {
    color: #212529;
  }
  .input-theme-sw {
    color: #eeeeee;
  }
  .input-theme-prod {
    background-color: #eeeeee;
  }
  .cont-theme-bg {
    background-color: #ffffff;
  }
}

[data-theme="dark"] {
  //main

  --primary: #192126;
  --modal-primary: #192126;
  --secondary: #343c42;
  --white-color: #eeeeee;
  --sidebar-color: #eeeeee;
  --font-theme-color: #eeeeee;
  --contents-bg: #343c42;

  //profile

  --user-name-color: #959595;
  --profile-btn-rank: #192126;

  //store
  --row-list-alt: #3b444a;
  --ad-input-form-color: #192126;

  //tournmaent
  --dark-sec-white: #343c42;

  //modals
  .ant-card {
    background-color: var(--secondary);
    border: none;
    .ant-card-body {
      .ant-card-meta {
        .ant-card-meta-title {
          color: var(--white-color);
        }
      }
    }
  }
  .review-md {
    .ant-modal {
      .ant-modal-content {
        background-color: var(--posts-bg);
        .ant-modal-close-x {
          color: var(--white-color);
        }
        .ant-modal-body {
          color: #ffff;
          .form-control {
            border: none;
          }
        }
        .ant-modal-header {
          background-color: var(--primary);
          .ant-modal-title {
            color: var(--white-color);
          }
        }
      }
    }
  }

  .ant-modal {
    .ant-modal-content {
      background-color: var(--primary);
      .ant-modal-close-x {
        color: var(--white-color);
      }
      .ant-modal-body {
        color: #ffff;
        .form-control {
          border: none;
        }
      }
      .ant-modal-header {
        background-color: var(--primary);
        .ant-modal-title {
          color: var(--white-color);
        }
      }
    }
  }

  //posts
  --posts-bg: #343c42;
  --posts-color: #eeeeee;
  .three-dots {
    color: #eeeeee !important;
  }
  //footer
  --side-footer-color: #eeeeee;
  --background: black;
  --foreground: white;

  // class names

  .dark-theme-color {
    color: var(--white-color);
  }
  .dark-theme-color-grw {
    color: var(--white-color);
  }
  .dark-theme-gd {
    color: grey;
  }
  .input-theme-sw {
    color: var(--secondary);
  }
  .input-theme-prod {
    background-color: #3b444a;
  }
  .cont-theme-bg {
    background-color: #343c42;
  }
}
