@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&display=swap');

body{
  background:#F1F2F6;
}
.dropdown-toggle::after {
    display: none !important; 
  }
 
 .Drop{
    position: relative;
    margin-left: -15px;
    background: transparent;
 }
 .search{
    position: relative;
    margin-left: -20px;
    margin-bottom: -9px;
 }
 .offcanvas.offcanvas-end{
   width:255px ;
 }

 .navbar__button {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .sidebar {
  position: fixed;
  top: 40;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 230px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  background: transparent;
  border-right: 0px solid #dbdbdb;
  transition: 0.3s;
  margin-top:-23px;
}

.sidebar-header {
  width: 100%;
  margin-bottom: 44px;
}

.sidebar a {
  height: 60px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.sidebar a > span {
  display: flex;
  align-items: center;
  gap: 9px;
  height: 48px;
  padding: 0 12px;
  line-height: 1;
}

.sidebar a span:hover  {
  color:#17a803;
  transition: 0.1s;
 
}


.sidebar a i {
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.sidebar a img {
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.sidebar a i > span {
  display: grid;
  place-items: center;
  height: 20px;
  width: 20px;
  padding: 0 3px;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  right: 4px;
  border: 1px solid #ffffff;
  background: #17a803;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar a i > em {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  top: -14px;
  right: 9px;
  border: 1px solid #ffffff;
  background: #17a803;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar a span {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.navbar__button{
  display: none;
}


.side-menu__footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 230px;
  
}
.side-menu__footer-links {
  display: flex;
  color: #797B79;
  
}
.side-menu__footer-list  {
  list-style: none;
  padding: 0 12px;
  
}
.side-menu__footer-list a  {

  font-size: 11px;
  font-weight: 600;
  
}
.side-menu__footer-item {
  display: inline-block;
}
.side-menu__footer-item:not(:last-of-type)::after {
  content: '\00B7';
  margin: 0 0.5px;
}
.side-menu__footer-item,
.side-menu__footer-link,
.side-menu__footer-copyright {
  font-size: 11px;
  font-weight: 400;
  color: var(--text-light);
  text-decoration: none;
}

 .next{
 margin-top: -120px; 
 
}
.back{
  margin-top: 17px;
}
.side-menu__footer-copyright {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
button[type="submit"]:focus,
input[type="search"]:focus {
  
  
  outline: none;
}

form.nosubmit {
 border: none;
 
 
}
// .line{
//     color:#000;
//     width:100%;
  
//    }

    input.nosubmit2 {
      border: 0px solid #EEEEEE;
      width: 810px;
      padding: 9px 4px 9px 40px;
       background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
       margin-left: -4px;
       margin-top: 35px;
       border-radius: 5px;
      
       background-color: #EEEEEE;
      }




      
.carousel  {
  position: relative;
  width: 100%;
  // height: 300px;
  // margin-top: -12px;
  overflow: hidden;
  border-radius: 10px;
}
   
      .carousel-indicators .active {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #17A803;
        margin: 0 5px;
        cursor: pointer;
      }
      
      .carousel-indicators .Indicators {
        background-color: #959595;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
      }
      



    .store-container{
           width:900px;
           justify-content: center;
          margin-left: 330px;
           align-items: center;
    }
    .store-container1{
      width:900px;
      justify-content: center;
     margin-left: 330px;
      align-items: center;
}
    .store{
        
        row-gap: 12px;
       
    }
  
    .view{
        font-size: 14px;
        color: #797B79;
        margin-right: 0px;
        float: right;
        font-weight: 400;
    }
   
    .shop{
        
        row-gap: 6px;     
    }
    .bottons{
        column-gap: 4px;
        row-gap: 6px;  
    }
    
    .more{
        float: right;
        // margin-right: -120px;
        margin-top: 110px;
        color: #17A803;
       
    }
  .foot-png{
    float: right;
    margin-top: 380px;
    position: absolute;
    margin-left: -103px;
    width: 85px;
    height:60px;
  }
 
 .btn-group.group {
    padding:0px 4px;
    position: relative;
    width: 60px;
    height: 28px;
    
 }  
 .outlock.btn{
  padding: 0px 2px;
  background: transparent;
  color: #000;
  border: 1px solid b;
 }
 .oulock.btn:hover{
  background:#656565;
  color:#fff;
 }
.outlocks.btn{
  background:#656565;
  color:#fff;
  padding: 0px 2px;
  width: 65px;
  height: 28px;
}
.outlocks.btn:hover{
  background: transparent;
  color: #000;
}


 .colors{
  margin-top: -12px;

 }

 .float{
  margin-top: -1px;
  float: right;
  margin-right: -13px;
  
}

.add-cart-btn{
  background-color:#17A803;
  font-weight:400;
  border:0px;
  color:white;
  float:right;
  padding: 7px 21px;
  margin-top: 22px;
  position: relative;
}
.submit-cart-btn{
  background-color:#17A803;
  font-weight:600;
  border:0px;
  color:white;
  padding: 7px 60px;
  border-radius: 6px;
  float: right;
 

}
.submits-cart-btn{
  background-color:#17A803;
  font-weight:600;
  border:0px;
  color:white;
  padding: 7px 60px;
  border-radius: 6px;
  float: right;
    margin-top: 22px;

}


.sub-cart-btn{
  background-color:#CCCCCC;
  font-weight:600;
  border:0px;
  color:rgb(0, 0, 0);
  padding: 7px 60px;
  border-radius: 6px;
  margin-left: 5px;
}
.cart-btn{
  background-color:#17A803;
  font-weight:400;
  border:0px;
  color:white;
  float:right;
  margin-top: 260px;
  padding: 7px 40px;
}
.cart.cart{
  width: 95%;
  border: 0px;
}
.payment-btn{
  background-color:#17A803;
  font-weight:600;
  border:0px;
  color:white;
  padding: 7px 20px;
  
}
.order-btn{
  background-color:#17A803;
  font-weight:400;
  border:0px;
  color:white;
  padding: 7px 15px;
 margin-right: -2px;
 margin-top: -19px;
 float: right;
}

.order1-btn{
  background-color:#17A803;
  font-weight:400;
  border:0px;
  color:white;
  padding: 4px 13px;
 margin-right: 33px;
 margin-bottom: 25px;
 float: right;
}
.product-submit{
  display: flex;
  justify-content: end;
  
}
.hr{
  border-top: 2px dashed rgb(0, 0, 0);
}
.qty {
  float: right;
  
  margin-left: 246px;
  margin-top: -40px;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 1px;
  min-width: 28px;
  text-align: center;
  border: 0px;
  
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 23px;
  height: 23px;
  font: 14px/1.5 Arial,sans-serif;
  text-align: center;
  border-radius: 30%;
  font-size: 16px;
  }
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 23px;
  height: 22px;
  font: 14px/0.50 Arial,sans-serif;
  text-align: center;
  border-radius: 30%;
  background-clip: padding-box;
}
//nibras change
.span-icon{
  margin-top: 15px;
  margin-left: -105px;
  // margin-top: 43px;
  // margin-left: -153px;
  float: right;
  position: absolute;
  
}


input{  
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled{
  background-color:white;
}
.op::placeholder{
  color: black;
}
.grey::placeholder{
  color: #959595;

}

.qty1 {
  
  justify-content: end;
  display: flex;
  margin-top: -30px;
}

.qty1 .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 1px;
  min-width: 35px;
  text-align: center;
  background: transparent;
  border: 0px;
}
.qty1 .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  font: 18px Arial,sans-serif;
  text-align: center;
  border-radius: 30%;
  border: 1px solid grey;
  }
.qty1 .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  font: 17px Arial,sans-serif;
  text-align: center;
  border-radius: 30%;
  background-clip: padding-box;
  border: 1px solid grey;
}



input{  
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled{
  background-color:white;
}
.sides {
 
  padding: 12px 7px;
  width: 230px;
  background-color: #ffffff;
  position: absolute;
  height: auto;

  
}
.shipping{
  width:397px;
  margin-top:44px;
  background: white;
  border: 0px;
}

.Add-btn {
    font-size: 15px;
   line-height: 1.8;
    background: #17A803;
    border-radius: 5px;
    padding: 2px 20px;
    margin-left: -9px;
    font-weight: 600;
    border: 0px;
    color: white;
    float:right;
    margin-top: -2px;
   
   }
   .edit-btn{
    font-size: 15px;
    line-height: 1.8;
     background: #8A8A8A;
     border-radius: 5px;
     padding: 2px 20px;
     margin-left: -9px;
     font-weight: 600;
     border: 0px;
     color: white;
     float:right;
     margin-top: -2px;
   }
   
   .Add2-btn {
    font-size: 15px;
   line-height: 1.8;
    background: #17A803;
    border-radius: 5px;
    padding: 2px 20px;
    margin-left: -9px;
    font-weight: 600;
    border: 0px;
    color: white;
    float:right;
    margin-top: -23px;
   
   }
   .export-btn {
    font-size: 15px;
   line-height: 1.8;
    background: #EEEEEE;
    border-radius: 5px;
    padding: 3px 20px; 
    margin-left: -9px;
    font-weight: 600;
    border: 0px;
    color: rgb(0, 0, 0);
    float:right;
    margin-top: 3px;
   
   }
   .edit{
     margin-right: -32px;
     width: 12px;
     height: 12px;
     float:right;
     margin-top: -17px;
   }
  

.sides a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sides a :hover{
  color:#17A803;
}
.sides.svg :hover{
  color:#17A803;
}
.carl1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.content-topic {
  margin-left: 240px;
  padding: 1px 6px;
  height: 100%;
   background: white;
   width: 65%;

}
.content-topics {
  margin-left: 240px;
  padding: 1px 6px;
  height: 100%;    // width noted //...............................................
   background: white;
   width: 65%;
   
}
.toggle {
  position: relative;
  box-sizing: border-box;
  margin-top: -40px;
  margin-right: 53px;
  
  float: right;
}

.toggle input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.toggle label {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  
}
.toggle label:before {
  content: '';
  width: 58px;
  height: 18px;
  position: relative;
  display: inline-block;
  background: #FFF;
  border-radius: 46px;
  border: 2px solid #797B79;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}
.toggle label:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 3px;
  
  top: 3px;
  z-index: 2;
  background:#17A803;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}
.toggle input[type="checkbox"]:checked + label:before {
  background:#17a803;
  border: transparent;
}
.toggle input[type="checkbox"]:checked + label:after {
  left: 42px;
  background: #fff;

}

.reports{
  height: 182px;
  background: #EEEEEE;
  border: 0px;
}
.total-order{
  margin-top: 32px;
}



.toggle1 {
  position: relative;
  box-sizing: border-box;
  margin-top: -22px;
  margin-right: 190px;
  
  float: right;
}

.toggle1 input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.toggle1 label {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  
}
.toggle1 label:before {
  content: '';
  width: 58px;
  height: 18px;
  position: relative;
  display: inline-block;
  background: #FFF;
  border-radius: 46px;
  border: 2px solid #797B79;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}
.toggle1 label:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 3px;
  
  top: 3px;
  z-index: 2;
  background:#17A803;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}
.toggle1 input[type="checkbox"]:checked + label:before {
  background:#17a803;
  border: transparent;
}
.toggle1 input[type="checkbox"]:checked + label:after {
  left: 42px;
  background: #fff;

}
.update{
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
  position: relative;
}
.arrow-icon{
 margin-right: 190px;
 float: right;
 
}

.bottom{
  margin-top: 30px;
  
}
.Bottom{
  margin-top: 25px;
}

.button23 {
  background: #EEEEEE; 
 
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 40px;
}

.button23 {
  background: #EEEEEE; 
  color: black; 
  border: none;
}
.customs{
  margin-left: 12px;
}
.button23:hover {
  background: #EEEEEE;
  color: #17A803;
}
.wrap{
  font-size:15px;
  color:white;
  font-weight:400;
  text-overflow:ellipsis;
  white-space:pre;
  overflow:hidden;
  width: 100%;
}
.favouite-card{
 background-color:#343C42;
 border-radius:0%;
 border:0px;
height: auto;



}
.dough{
 width: 200px;
  height: 400px;
}

.top-p{
  font-size:14px;
  color:#959595;
  font-weight:400;
  margin-top: -12px;
  
}
.down-p{
  color:#17A803;
  font-size:16px;
  font-weight:600;
  margin-top: -14px;
}
.address-card{
  margin-top: -9px;

}
.address-card-price{
  font-weight: 700;
  margin-top: -9px;
}
.add-left{
  margin-left: 7px;
  position: relative;
  margin-top: 4px;
}
.pixels-png{
  margin-left: -8px;
  position: relative;
  margin-bottom: 8px;
  width: 82px;
  height: 82px;
}
.snippet-card{
  width: 82px;
  height: auto;
  border-radius: 9px;
}
.imx{
  margin-left: 35px;
  width: 100%;
  height: auto;
  position: relative;
}

//shop-management //

.carl{  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

.carl2{  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
   margin-top:34px;
   justify-content: center;
   
}
.documents{
  margin-right: 95px;
  text-align: center;
}
.document1{
  margin-right: 102px;
  margin-left: 4px;
}
 
.doc-card{
   width: 18rem;
   border:0px;
   border-radius:15px;
}
.document{
  margin-right: 12px;
}


.foot-ball{
  margin-left:2px;
  margin-top:9px;
  font-weight: 600;
  font-size: 20px;

}
.foot-ball-small{
  margin-left:2px;
  margin-top:9px;
  font-weight: 500;
  font-size: 14px;
}
.order-codes{
  margin-left:-9px;
  margin-bottom:-13px;
  font-weight: 700;
  font-size: 15px;
}
.order-code{
  margin-left:32px;
  margin-bottom:-13px;
  width:90%
  
}
.order-code2{
  margin-left:-6px;
  margin-bottom:-13px; 
}
.All-order{
  margin-left:32px;
  margin-bottom:5px; 
}
.item_clearfix{
  display: block;
}
.item1_clearfix{
  display: block;
  margin-top:-12px;
}
.clearfix{
  display: block;
  margin-left:9px;
 
}


.pictures{
  float: left;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  // height: 110px;
  border-radius: 10px  10px  10px  10px  ;
  // width: 110px;
  object-fit: cover; 
  aspect-ratio: 1;
  width:30%;
}
.shopping-card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shopping-card__title {
  font-weight: 600;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.shopping-card__options {
  display: flex;
  gap: 8px;
}

.option__key {
  font-weight: 400;
  font-size: 14px;
  color: #959595;
}


.option__value {
  font-weight: 500;
  font-size: 14px;
}


.option__value1 {
  font-weight: 500;
  font-size: 14px;
}
.option__key1 {
  font-weight: 400;
  font-size: 14px;
  color: #959595;
}


.option__value_prices {
  font-weight: 500;
  font-size: 14px;
}
.option__key_price {
  font-weight: 400;
  font-size: 14px;
  color: #959595;
}



.option__value_colors{
  font-weight: 500;
  font-size: 14px;
   
}
.option__key_color {
  font-weight: 400;
  font-size: 14px;
  color: #959595;
}




.shopping-card__price {
  font-weight: 600;
  font-size: 14px;
}

.shop-content {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 600;
  width:100%;
  //  line-height: 5px;
  
}
.fil-icon{
  margin-right:19px;
  margin-top: 8px;
 
}
.time-slot{
  margin-top: 12px;
}



.headers {
 
  justify-content: space-between;
}

div#header div {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight:700;
  margin-right: 30px;
}


.count1 {
  width: 46%;
  
}

.account1 {
  width: 32%;
  
}

#logo1{
  width: 11%;
}
#header-middle1 {
  width: 40%;
  
}

#header-right1 {
  width: 37%;
  
}


.customer{
  background:#eeeeee;
  border-radius:10px;
  width:530px;
}
.sales-report-name{
  position: relative;
  display: flex;
  max-width: 35%;
}
.secondary.btn{
  background: #656565;
  color: #ffffff;
}
.secondary.btn:hover{
  background: transparent;
  color: #000;
}
.outline.btn{
  background: transparent;
  color: #000;
}
.outline.btn:hover{
 
  background: #656565;
  color: #ffffff;
}
.owl-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.item {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: center;
}
.review{
  border: 0px;
  width: 80%;
}
.dough{
   width: 400px;
    height: 400px;
}
// sajin stores //
@media(max-width:1360px){
  .store-container1{
    width:auto
 
}
.store-container{
  width:auto

}
.content-topic {
  margin-right:20px;
  float: right;
  height: 100%;
   background: white;
   width: 60%

}
.customer{
  width: 100%;
}
.sides{
  padding: 12px 7px;
  width: 200px;
  background-color: #ffffff;

}


.content-topics {
  margin-right: 20px;
  height: 100%;  
   background: white;
   width: 57%;
   
  }
  .address-admin{
    font-weight: 400;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 178px;
    float: right;
  }
  .dough{
    width: 100%;
     height: 400px;
 }
 .carousel{
  width: 90%;
 }
}
@media(max-width:1299px){
  .store-container1 {
    width: auto;
  
    }
    .store-container {
      width: auto;
    
      }
  .content-topic {
    margin-right:20px;
    float: right;
    height: 100%;
     background: white;
     width: 64%
  
  }
  // .sides{
  //   padding: 12px 7px;
  //   width: 200px;
  //   background-color: #ffffff;
  
  //   margin-left: 250px;
  // }
  .content-topics {
    margin-right: 20px;
    height: 100%;  
     background: white;
     width: 63%;
     float: right;
    }
    .address-admin{
      font-weight: 400;
      
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 178px;
      float: right;
    }
}

@media(max-width:1249px){
  .store-container1 {
    width: 100%;
    margin: 0 auto;
    }
    .store-container {
      width: 100%;
      margin: 0 auto;
      }
  .content-topic {
    margin-right:20px;
    float: right;
    height: 100%;
     background: white;
     width: 60%
  
  }
  .sides{
    padding: 12px 7px;
    width: 200px;
    background-color: #ffffff;
  
   
    margin-left: 250px;
  }
  .content-topics {
    margin-right: 20px;
    height: 100%;  
     background: white;
     width: 57%;
     float: right;
    }
    .address-admin{
      font-weight: 400;
      
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 178px;
      float: right;
    }

}



@media(max-width:1100px){
  .store-container1 {
    width: 100%;
    margin: 0 auto;
    }
    .store-container {
      width: 100%;
      margin: 0 auto;
      }
    .content-topic {
      margin-right:20px;
      float: right;
      height: 100%;
       background: white;
       width: 58%
    
    }
    .sides{
      padding: 12px 7px;
      width: 200px;
      background-color: #ffffff;
    
      margin-left: 250px;
    }
    .content-topics {
      margin-right: 20px;
      height: 100%;  
       background: white;
       width: 57%;
       float: right;
      }
      .address-admin{
        font-weight: 400;
        
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 178px;
        float: right;
      }

}

@media(max-width:1025px){
  .store-container1 {
    width: 100%;
    margin: 0 auto;
    }
    .store-container {
      width: 100%;
      margin: 0 auto;
      }
    .content-topic {
      margin-right:20px;
      // float: right;
      height: 100%;
       background: white;
       width: 53%
    
    }
    
    .sides{
      padding: 12px 7px;
      width: 200px;
      background-color: #ffffff;
    
   
      margin-left: 250px;
    }
    .content-topics {
      margin-right: 20px;
      height: 100%;  
       background: white;
       width: 52%;
      //  float: right;
      }
      .address-admin{
        font-weight: 400;
        
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 178px;
        float: right;
      }
}

@media(max-width:936px){
  .store-container1 {
    width: 100%;
    margin: 0 auto;
    }
    .store-container{
      width: 100%;
      margin: 0 auto;
      }
    .content-topic {
      // margin-right:25px;
      // float: right;
      height: 100%;
       background: white;
       width: 70%
    
    }
    .sides{
      padding: 12px 7px;
      width: 200px;
      background-color: #ffffff;
      position: absolute;
     
      margin-left: -13px;
    }
    .content-topics {
      margin-right: 20px;
      height: 100%;  
       background: white;
       width: 63%;
       
      }
    .arrow-icon {
      margin-right: -4px;
      float: right;
  }
  .sidebar{
    display: none;
  }
  .address-admin{
    font-weight: 400;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 178px;
    float: right;
  }
  .Bottom{
    margin-left: 29px;
  }
}

@media(max-width:769px){
  .store-container1 {
  width: 100%;
  margin: 0 auto;
  }
  .store-container{
    width: 90%;
    margin: 0 auto;
    }
  .content-topic {
    // margin-right:20px;
    // float: right;
    height: 100%;
     background: white;
     width: 70%;
  
  }
  .sides{
    padding: 12px 7px;
    width: 200px;
    background-color: #ffffff;
    position: absolute;

    // margin-left: 29px;
  }
  .content-topics {
    // margin-right: 20px;
    height: 100%;  
     background: white;
     width: 70%;
     
    }
  
    .arrow-icon {
      margin-right: -4px;
      float: right;
  }
  .address-admin{
    font-weight: 400;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 178px;
    float: right;
  }
}

@media(max-width:700px){
  .content-topic {
    margin-left:36px;
 
    height: 100%;
     background: white;
     width: 88%;
  
  }
  .sides{
    display: none;
  }
  .content-topics {
    margin-left: 36px;
    height: 100%;  
     background: white;
     width: 98%;
     
    }
  
    .arrow-icon {
      margin-right: -4px;
      float: right;
  }
  .address-admin{
    font-weight: 400;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 178px;
    float: right;
  }
}

@media(max-width:659px){
  .content-topic {
    margin-left:24px;
 
    height: 100%;
     background: white;
     width: 88%;
  
  }
  .sides{
    display: none;
  }
  .address-admin{
    font-weight: 400;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 178px;
    float: right;
  }
}

@media (max-width:527px) {
  .content-topic {
    margin-left:24px;
 
    height: 100%;
     background: white;
     width: 88%;
  
  }
  .carl1.mobile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .product-submit {
 
    justify-content: center;
}
.dough{
  width: 100%;
   height: 400px;
 }
  .store-container1{
    width: 100%;
  }
  .home{
    margin-right: 23px;
    float: right;
  }
  .doc-card{
    width: 130px;
    border:0px;
    border-radius:15px;
    height: 130px;
 }
 .order1-btn{
 
 margin-right: 33px;

}


 .carl{  
 justify-content: center;
}

.documents{
  flex-basis: calc(33.33% - 10px); /* Adjust the width of the columns as needed */
  margin: 5px;
  padding: 10px;
}
div#header div {
  display: inline-block;
  text-align: end;
  font-size: 15px;
  font-weight: 700;
  margin-right: 20px;

}
.new-orders{
margin-left: -4px;
font-size: 14px;
}
.process-order{
  margin-left: -4px;
  font-size: 14px;
}
.dispatch-order{
  margin-left: -4px;
  font-size: 14px;
}
// .documents {
//   margin-right: 7px;
//   margin-left: 12px;
// }
.document1 {
  margin-right: 14px;
  margin-left: 12px;
  margin-top: -12px;
}


 .shop-management{
  margin-left: 15px;
 }
 .summary{
  margin-left: 15px;
 }
  .sides{
    display: none;
  }
  .shipping{
    width:100%;
    margin-top:25px;
    background: white;
    border: 0px;
  }
  .foot-png{
    float: right;
    margin-top: 140px;
    position: absolute;
    margin-left: -103px;
    width: 85px;
    height:60px;
  }
  .more{
    float: right;
    // margin-right: -120px;
    margin-top: -33px;
    color: #17A803;
    
}
.rrr{
  margin-top: 3px;
  margin-left: -4px;
}
.address-card{
  margin-top: 9px;

}
.mobile-nav{
  display:block;
 }
 .web-nav{
  display: none;
 }
 input.nosubmit2 {
  width: 89%;
  margin-left: -2px;
  
  }
  .cart.cart{
    width: 100%;
    border: 0px;
  }
  .review{
    border: 0px;
    width: 100%;
  }
  .colors{
    margin-top: 32px;
    justify-content: center;
   
   }
   .qty {
    float: right;
    text-align: end;
    margin-top: -40px;
    margin-right: 20px;
  
  }
  .qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 19px;
    height: 19px;
    font: 14px/0.5 Arial, sans-serif;
    text-align: center;
    border-radius: 30%;
    background-clip: padding-box;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 19px;
  height: 19px;
  font: 14px/1.5 Arial, sans-serif;
  text-align: center;
  border-radius: 30%;
  font-size: 16px;
}
  .shop-cart{
    margin-top: 22px;
  }
  .outlocks.btn{
    background:#656565;
    color:#fff;
    padding: 0px 2px;
    width: 65px;
    height: 28px;
  }
  .outlocks.btn:hover{
    background: transparent;
    color: #000;
  }
  .headings {
    font-weight: 600;
    line-height: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    
  }
  .price{
    margin-top: -22px;
  }
  .address-admin{
    font-weight: 400;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 178px;
    float: right;
  }
  
  .order-code{
    margin-left:17px;
  }
  .All-order{
    margin-left:12px;
  }
  .value-down{
    margin-top: 22px;
    margin-left: -75px;
  }
  .option__value1 {
    font-weight: 500;
    font-size: 14px;
  }
  .submit-cart-btn{
    padding: 7px 50px;
  }
  .submits-cart-btn{
    padding: 7px 50px;
  }

  .arrow-icon {
    margin-right: -4px;
    float: right;
}

.content-topics {
  margin-right: 15px;
  height: 100%;
  background: white;
  width: 100%;
}
}


@media (max-width:440px) {
  .content-topic {
    margin-left:24px;
 
    height: 100%;
     background: white;
     width: 100%;
  
  }
  .qty {
    float: right;
    text-align: end;
    margin-top: -40px;
    margin-left: 60px;
  
  }
  .qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 19px;
    height: 19px;
    font: 14px/0.5 Arial, sans-serif;
    text-align: center;
    border-radius: 30%;
    background-clip: padding-box;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 19px;
  height: 19px;
  font: 14px/1.5 Arial, sans-serif;
  text-align: center;
  border-radius: 30%;
  font-size: 16px;
}
.store-container1{
  width: 100%;
}
.count1 {
  width: 40%;
  
}

.account1 {
  width: 32%;
  
}

.store-container {
  width: 90%;
 
  }
  div#header div {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-left: -4px;
  }
.sides{
  display: none;
}
.shipping{
  width:100%;
  margin-top:25px;
  background: white;
  border: 0px;
}
.foot-png{
  float: right;
  margin-top: 140px;
  position: absolute;
  margin-left: -103px;
  width: 85px;
  height:60px;
}
.more{
  float: right;
  // margin-right: -120px;
  margin-top: -33px;
  color: #17A803;
  
}
.rrr{
margin-top: 3px;
margin-left: -4px;
}
.address-card{
margin-top: 9px;

}
.mobile-nav{
display:block;
}
.web-nav{
display: none;
}
input.nosubmit2 {
width: 89%;
margin-left: -2px;

}
.cart.cart{
  width: 100%;
  border: 0px;
}
.review{
  border: 0px;
  width: 100%;
}
.colors{
  margin-top: 32px;
  justify-content: center;
 
 }
 .qty {
  float: right;
  text-align: end;
  // margin-left: 350px;
  margin-top: -40px;

}
.shop-cart{
  margin-top: 22px;
}
.outlocks.btn{
  background:#656565;
  color:#fff;
  padding: 0px 2px;
  width: 65px;
  height: 28px;
}
.outlocks.btn:hover{
  background: transparent;
  color: #000;
}
.headings {
  font-weight: 600;
  line-height: 28px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
  
}
.price{
  margin-top: -22px;
}
.address-admin{
  font-weight: 400;
  
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 178px;
  float: right;
}

.order-code{
  margin-left:17px;
  
}
.All-order{
  margin-left:12px;
}
.value-down{
  margin-top: 22px;
  margin-left: -75px;
}
.option__value1 {
  font-weight: 500;
  font-size: 14px;
}
.submit-cart-btn{
  padding: 7px 40px;
}
.sub-cart-btn{
  padding: 7px 40px;
}

.arrow-icon {
  margin-right: -4px;
  float: right;
}
.content-topics {
margin-right: 15px;
height: 100%;  
 background: white;
 width: 100%;
 
}
.home{
  margin-right: 23px;
  float: right;
}
.doc-card{
  width: 110px;
  border:0px;
  border-radius:15px;
  height: 130px;
}
.order1-btn{

margin-right: 33px;

}

.carl{  
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left: 4%;
}

.new-orders{
margin-left: -4px;
font-size: 14px;
}
.process-order{
margin-left: -4px;
font-size: 14px;
}
.dispatch-order{
margin-left: -4px;
font-size: 14px;
}
.documents {
justify-content: center;
}
.document1 {
  justify-content: space-evenly;
  margin-left: 17px;
}
.carl1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
   justify-content: end;
}

.shop-management{
margin-left: 15px;
}
.summary{
margin-left: 15px;
}
}

@media (max-width:375px) {
 
  .content-topic {
    margin-left:24px;
    
    height: 100%;
     background: white;
     width: 100%;
  
  }
  .count1{
    width: 20%;
  }
  .account1{
    width: 20%;
  }
.store-container1{
  width: 100%;
}
.store-container {
  width: 90%;
  }
.sides{
  display: none;
}
.shipping{
  width:100%;
  margin-top:25px; 
  background: white;
  border: 0px;
}
.foot-png{ 
  float: right;
  margin-top: 140px;
  position: absolute;
  margin-left: -103px;
  width: 85px;
  height:60px;
}
.more{
  float: right;
  // margin-right: -120px;
  margin-top: -33px;
  color: #17A803;
  
}
.rrr{
margin-top: 3px;
margin-left: -4px;
}
.address-card{
margin-top: 9px;

}
.mobile-nav{
display:block;
}
.web-nav{
display: none;
}
input.nosubmit2 {
width: 89%;
margin-left: -2px;

}
.cart.cart{
  width: 100%;
  border: 0px;
}
.review{
  border: 0px;
  width: 100%;
}
.colors{
  margin-top: 32px;
  justify-content: center;
 
 }
 .qty {
  float: right;
  text-align: end;
  // margin-left: 350px;
  margin-top: -40px;
}
.shop-cart{
  margin-top: 22px;
}
.outlocks.btn{
  background:#656565;
  color:#fff;
  padding: 0px 2px;
  width: 65px;
  height: 28px;
}
.outlocks.btn:hover{
  background: transparent;
  color: #000;
}
.headings {
  font-weight: 600;
  line-height: 28px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
  
}
.price{
  margin-top: -22px;
}
.address-admin{
  font-weight: 400;
  
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 178px;
  float: right;
}

.order-code{
  margin-left:17px;
}
.All-order{
  margin-left:12px;
}
.value-down{
  margin-top: 22px;
  margin-left: -75px;
}
.option__value1 {
  font-weight: 500;
  font-size: 14px;
}
.submit-cart-btn{
  padding: 7px 40px;
}
.sub-cart-btn{
  padding: 7px 40px;
}

.arrow-icon {
  margin-right: -4px;
  float: right;
}
.content-topics {
  margin-right: 15px;
  height: 100%;
  background: white;
  width: 100%;
}
.home{
  margin-right: 23px;
  float: right;
}
.doc-card{
  width: 106px;
  border:0px;
  border-radius:15px;
  height: 130px;
}
.order1-btn{

margin-right: 33px;

}

.carl{  
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left: 12px;
}

.new-orders{
margin-left: -4px;
font-size: 14px;
}
.process-order{
margin-left: -4px;
font-size: 14px;
}
.dispatch-order{
margin-left: -4px;
font-size: 14px;
}
.documents {
margin-right: 7px;
margin-left: 12px;
}
.document1 {
margin-right: 14px;
margin-left: 12px;
margin-top: -12px;
}
.carl1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.shop-management{
margin-left: 15px;
}
.summary{
margin-left: 15px;
}
}



// @media (max-width:1245px) {
//   .store-container {
//     margin-left: 200px;
//   }
// }
