@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&display=swap');

body{
  background:#EEEEEE;
}
.container2 {

  width:910px;
margin-left:300px;
margin-top:23px;
height:100%;
}
.profile {
  padding: 7px 0px;
}
.profile2 {
  padding: 52px 0px;
}
.profile3 {
  padding: 76px 0px;
}
.profile::after {
  content: "";
  display: block;
  clear: both;
}
.line{
  color:#000;
  width:97%;
  border-bottom: 1px solid rgb(69, 69, 69);
  margin-left:20px;
 }
// oo//








.profile-users-name {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-bottom: 1px;
}

.profile-users-names {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  
}

.profile-user-name {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-bottom: 1px;
}

.profile-user-names {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  
}

.profile-edit-btn {
  font-size: 15px;
  line-height: 1.8;
  background: #EEEEEE;
  border-radius: 0.3rem;
  padding: 0 22px;
  margin-left: 3px;
  font-weight: 600;
}
.profile-edit-btn1 {
  font-size: 15px;
  line-height: 1.8;
  background: #8A8A8A;
  color: white;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  margin-left: 61px;
  border: 0px;
}
.profile-edit-btn2 {
  font-size: 15px;
  line-height: 1.8;
  background: #8A8A8A;
  color: white;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  margin-left: 61px;
}


.profile-stats li {
  display: inline;
  font-size: 15px;
  margin-right:12px;
  cursor: pointer;

}
.profile-stat li {
  display: inline;
  font-size: 15px;
  margin-right:12px;
  cursor: pointer;

}
.profile-stats li:last-of-type {
  margin-right: 2px;
}
//oo //
.profile-image {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 175px;
  margin-top: -4px;
}

.profile-image img {
  width: 190px;
  height: 190px; 
  margin-top: 20px;
 }
.profile-images {
  float: right;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 175px;
  margin-top: -4px;
}
.profile-images img {
  width: 190px;
  height: 190px; 
   margin-top: 5px;
 }
 .profile-shop {
  float: right;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 175px;
  margin-top: -4px;
}
.profile-shop img {
  width: 190px;
  height: 190px; 
   margin-top: 32px;
 }
 .profile-stadium {
  float: right;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 175px;
  margin-top: -4px;
}
.profile-stadium img {
  width: 190px;
  height: 190px; 
   margin-top: 32px;
 }

 

.profile-cam1 {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width:44px;
  height:44px;
  margin-right: -175px;
  margin-top: 159px; 
}
.profile-cam2 {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width:44px;
  height:44px;
  margin-right: -175px;
  margin-top: 144px; 
}



.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(106.666% - 2rem);
}


.profile-users-name {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  
}

.profile-users-names {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  
}



.profile-edit-btn {
  font-size: 15px;
  line-height: 1.8;
  background: #EEEEEE;
  border-radius: 0.3rem;
  padding: 0 22px;
  margin-left: 3px;
  font-weight: 600;
  border: 0px;
}
.profile-edit-btn1 {
  font-size: 15px;
  line-height: 1.8;
  background: #8A8A8A;
  color: white;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  margin-left: 61px;
  border: 0px;
}
.profile-edit-btn2 {
  font-size: 15px;
  line-height: 1.8;
  background: #8A8A8A;
  color: white;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  margin-left: 61px;
}
.profile-stat-count{
  font-weight: 500;
  font-size: 15px;
  
}
.profile-status-count{
  font-weight: 500;
  font-size: 15px;
  
}

.profile-stats {
  margin-top: 50px;
  margin-left: -130px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.profile-stat  {
  display: inline;
  font-size: 15px;
  margin-right:12px;
  cursor: pointer;

}
.profile-stats li:last-of-type {
  margin-right: 2px;
}
#tabs{
  background: transparent;
  color: #eee;
  text-align: -webkit-center;
  margin-left: 0;
}

  .nav-tabs {
    border-bottom: 0px solid transparent;
    display: flex;
    justify-content: space-around;
   
  }

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    
 
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #959595;
    font-size: 14px;
}
#tabs .nav-tabs .nav-link:hover {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
   
.images{
  position: relative;
  width: 924px;
  height: calc(100vh - 40px);
  display: flex;
  margin-right: 0px;
  margin-top: 10px;
  row-gap: 17px;
  min-height: 300px;
   
 }
 .image{
  width: 290px;
  height: 290px;

 }
 .card-tab{
  width:900px;
  height:850px;
 }
 .line1{
  color:#000;
  width:800px;
  
  }
  .cord{
    height:270px;
  }
  .ceed{
  display: none;
  }
  .create-btns{
    display: none;
   }
   
.side-menu__suggestion-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  /* color: var(--link); */
  flex-shrink: 0;

}
.side-menu__suggestion-button1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  
  flex-shrink: 0;
  margin-right: -39px;
  margin-top: -23px;
}
.side-menu__suggestion-button2 {
 
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
  margin-right: -39px;
  margin-top: -23px;
  background-color:#17a803;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 26px;
}
.side-menu__suggestion-buttons {
 
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
  margin-left: 2px;
  margin-top: 6px;
  background-color:#17a803;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 32px;
}

.side-menu__suggestion-button3 {
 
  cursor: pointer;
  font-size: 15px;
  flex-shrink: 0;
  margin-left: 2px;
  margin-top: -23px;
  background-color:#8A8A8A;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 32px;
}


// tabs container start//

.tab-container {
  width:910px;
  margin-left:300px;
  margin-top:23px;
  height:100%;
}
.Book{
  font-weight:500;
  color:#000;
  font-size:15px;
  margin-bottom: 5px;
  display:-webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
width: 272px;
}
.small-time{
  color:#000;
  font-weight:500;
  font-size:14px;
  margin-top:-5px;
  text-align:left;
}
.booked{
  font-weight:600;
  font-size:15px;
  margin-left: 2px;
}

@media(max-width:1360px){
  
  .cards{
    width:810px;
    margin-left:395px;
    margin-top:23px;
    height:100%;
    }
    .container2 {

      width:810px;
    margin-left:300px;
    margin-top:23px;
    height:100%;
    }
    .tab-container {
      width:810px;
      margin-left:300px;
      margin-top:23px;
      height:100%;
    }
    .images{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      margin-right: 0px;
      margin-top: 10px;
      row-gap: 17px;
     }
     .image{
      width: 100%;
      height: 100%;
    
     }
     .line{
      color:#000;
      width:100%;
    
     }
     .profile-image {
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 125px;
      margin-top: -4px;
    }
    .card-tab{
      width:810px;
      height:850px;
     }
  
}
@media(max-width:1249px){
  .container2 {

    width:810px;
  margin-left:300px;
  margin-top:23px;
  height:100%;
  }
  .tab-container {
    width:810px;
  margin-left:300px;
  margin-top:23px;
  height:100%;
  }
  .profile-image {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 125px;
    margin-top: -4px;
  }
  
  .card-tab{
    width:810px;
    height:850px;
   }
   .line{
    color:#000;
    width:100%;
  
   }
   .images{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 0px;
    margin-top: 10px;
    row-gap: 17px;
   }
   .image{
    width: 100%;
    height: 100%;
  
   }
   .line1{
    color:#000;
    width:700px;
    margin-right: 23px;
    }
  
     .create-btns{
      display: none;
     }
}

@media(max-width:1100px){
  .container2 {

    width:710px;
  margin-left:300px;
  margin-top:23px;
  height:100%;
  }
  .tab-container {
    width:710px;
    margin-left:300px;
    margin-top:23px;
    height:100%;
  }
  .profile-image {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 75px;
    margin-top: -4px;
  }
  .profile-edit-btn1 {
    font-size: 15px;
    line-height: 1.8;
    background: #8A8A8A;
    color: white;
    border-radius: 0.3rem;
    padding: 0 22px;
    font-weight: 600;
    margin-left: 8px;
  }
  .card-tab{
    width:710px;
    height:850px;
   }
   .image{
    width: 100%;
    height: 100%;
  
   }
   .line{
    color:#000;
    width:100%;
  
   }
  .profile-stats {
    margin-top: 50px;
    margin-left: -70px;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }
  .images{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 0px;
    margin-top: 10px;
    row-gap: 17px;
   }
   .line1{
    color:#000;
    width:80%;
    margin-right: 23px;
    }
  
}

@media(max-width:1025px){
  .container2 {

    width:610px;
  margin-left:300px;
  margin-top:23px;
  height:100%;
  }
  .tab-container {
    width:610px;
  margin-left:300px;
  margin-top:23px;
  height:100%;
  }
  .profile-image {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    margin-top: -2px;
  }
  .profile-edit-btn1 {
    font-size: 15px;
    line-height: 1.8;
    background: #8A8A8A;
    color: white;
    border-radius: 0.3rem;
    padding: 0 22px;
    font-weight: 600;
    margin-left: 1px;
    border: 0px;
  }
  
  .card-tab{
    width:610px;
    height:850px;
   }

  
  .profile-stats {
    margin-top: 50px;
    margin-left: -60px;
    font-weight: 400;
    display: flex;
    
    justify-content: center;
  }
  .image{
    width: 100%;
    height: 100%;
  
   }
   .images{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 0px;
    margin-top: 10px;
    row-gap: 17px;
   }
   .line{
    color:#000;
    width:100%;
  
   }
   
    .profile-stats li {
      display: inline;
      font-size: 15px;
      margin-right:11px;
      cursor: pointer;
    
    }

}

@media(max-width:936px){
  .container2 {

    width:610px;
  margin-left:150px;
  margin-top:23px;
  height:100%;
  }
  .tab-container {
   width:610px;
  margin-left:150px;
  margin-top:23px;
  height:100%;
  }
  .profile-image {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    margin-top: -5px;
  }
  .profile-edit-btn1 {
    font-size: 15px;
    line-height: 1.8;
    background: #8A8A8A;
    color: white;
    border-radius: 0.3rem;
    padding: 0 22px;
    font-weight: 600;
    margin-left: 8px;
  }
  
  .card-tab{
    width:100%;
    height:100%;
   }

  
  .profile-stats {
    margin-top: 50px;
    margin-left: -70px;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }
  .image{
    width: 100%;
    height: 100%;
  
   }
   .images{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 0px;
    margin-top: 10px;
    row-gap: 17px;
   }
   .line{
    color:#000;
    width:100%;
  
   }
  //  .sidebar {
  //   display: none;
  // } 
  .mobile-nav{
    display:block;
   }
   .web-nav{
    display: none;
   }
   .mobile-logo{
    width: 100px;
    height: 37px;
   }

   
}

@media(max-width:769px){
  .container2 {

    width:610px;
  margin-left:98px;
  margin-top:23px;
  height:100%;
  }
  .tab-container {
    width:610px;
    margin-left:98px;
    margin-top:23px;
    height:100%;
   }
  .profile-image {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
    margin-top: 4px;
  }
  .profile-edit-btn1 {
    font-size: 15px;
    line-height: 1.8;
    background: #8A8A8A;
    color: white;
    border-radius: 0.3rem;
    padding: 0 22px;
    font-weight: 600;
    margin-left: 8px;
  }
  .profile-cam1 {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width:44px;
    height:44px;
    margin-right: -175px;
    margin-top: 144px; 
  }
  
 
  
  .profile-stats {
    margin-top: 50px;
    margin-left: -70px;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }
  .image{
    width: 100%;
    height: 100%;
  
   }
   .images{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 0px;
    margin-top: 10px;
    row-gap: 17px;
   }
  //  .line{
  //   color:#000;
  //   width:100%;
  
  //  }
  //  .sidebar {
  //   display: none;
  // } 
  .cord{
    height:100%;
    width: 100%;
  }
  .create-btns{
    display: none;
   }
}

@media (max-width:768px) {
  .sidebar {
    display:none;
  }
.ceed{
  display: block;
  }
  .cord{
    display: none;
  }
  .ceed{
    height:100%;
    width: 100%;
  }
  .container2 {

    width:530px;

  height:100%;
  }
  .tab-container {
    width:490px;
  height:100%;
   }

   .avatar {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    bottom: -24px;
  }
  
  .user-online-indicator {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: -48px;
    right: -47px;
    border-radius: 50%;
    z-index: 4;
  }
  
  .avatar .user-avatar {
    width: 150%;
    height: 150%;
    object-fit: cover;
    border-radius: 50%;
  }

  .main-ceed {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 57px;
  }

  .profile-name {
    font-size: 20px;
    font-weight:600;
  }
  .profile-age{
    font-size:'14px';  }
  .profile-role{
    font-size: 14px;
    font-weight: 500;
  }
  .profile-followers{
    font-size: 14px;
    font-weight: 400;
  }
  .profile-age{
    font-size: 14px;
    font-weight: 400;
  }
  .profile-country{
    font-size: 14px;
    font-weight: 400;
  }
  .profile-img {
    // float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 150px;
    margin-top: 34px;
  }
.profiles-picture{
  width: 50%;
  border-radius: 50%;
}

  .profile-edits-btn {
    font-size: 15px;
    line-height: 1.8;
    background: #EEEEEE;
    color: black;
    border-radius: 0.3rem;
    padding: 0 22px;
    font-weight: 600;
    float: left;
    border: 0px;
  }
  .profile-edit-btn2 {
    font-size: 15px;
    line-height: 1.8;
    background: #8A8A8A;
    color: white;
    border-radius: 0.3rem;
    padding: 0 22px;
    font-weight: 600;
    float: right;
    border: 0px;
  }

  .profile-camera1 {
    float: right;
    display: flex;
    justify-content: center;
    margin-right: 0px;
     width: 100%;
    position: absolute;
    
  }

  

   .line1{
    color:#000;
    width:80%;
    margin-right: 23px;
    }
  .profile-stat {
   
    // margin-top: 50px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  .image{
    width: 100%;
    height: 100%;
  
   }
   .images{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 0px;
    margin-top: 10px;
    row-gap: 17px;
   }
 
   .line{
    color:#000;
    width:500px;
  
   }
   .profile-stat-counts{
    font-weight: 500;
    font-size: 15px;
 
    
  }
  .profiles-stat-count{
    font-weight: 400;
    font-size: 15px;
    margin-top: -13px;
  }
  .profile-status-count{
    font-weight: 500;
    font-size: 16px;
  
  
  }
  .mobile-nav{
    display:block;
   }
   .web-nav{
    display: none;
   }
   .mobile-logo{
    width: 100px;
    height: 37px;
   }
   
  .profile-users-name {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    justify-content: center;
    margin-bottom: -23px;
   
  }
  
  .profile-users-names {
    display: block;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    color: #000;
    justify-content: center;
  }
 .create-btns{
  display: block;
  text-align: end;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 44px;
  height: 44px;
  border-radius: 50px;
 }

 .profile-stat-counts{
  font-weight: 500;
  font-size: 15px;

}
.profiles-stat-count{
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: -13px;
}
.profile-status-count{
  font-weight: 500;
  font-size: 16px;
  display: flex;
  margin-top: -12px;
}
.side-menu__suggestion-buttons {
 
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
  
  background-color:#17a803;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
}

.side-menu__suggestion-button3 {
 
  cursor: pointer;
  font-size: 15px;
  flex-shrink: 0;
  margin-left: 14px;
  margin-top: -16px;
  background-color:#8A8A8A;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
}
}
@media(max-width:689px){
  .sidebar {
    display: none;
  } 
  .mobile-nav{
    display:block;
   }
   .web-nav{
    display: none;
   }
   .mobile-logo{
    width: 100px;
    height: 37px;
   }

  .container2 {
    padding: 0 20px;
    margin-left: 0px;
  }

  .container2 {

    width:auto;
  margin-top:23px;
  height:100%;
  margin-left: 23px;
  }
  .tab-container {

    width:100%;
  margin-top:23px;
  height:100%;
  margin-left: 3px;
  }
  .profile-users-name {
   
    font-size: 23px;
    font-weight: 600;
    color: #000;
    align-items: center;
  }
  
  .profile-users-names {
   
    font-size: 15px;
    font-weight: 600;
    color: #000;
    align-items: center;
   
  }
 .create-btns{
  display: block;
  text-align: end;
  position: absolute;

  
 }
 .profile-stat-counts{
  font-weight: 500;
  font-size: 15px;
  
}
.profiles-stat-count{
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: -13px;
}
.profile-status-count{
  font-weight: 500;
  font-size: 16px;
  margin-top: -12px;
}
// .profile-img {
//   float: right;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 94px;
//     margin-top: 36px;
// }

.profile-edits-btn {
  font-size: 15px;
  line-height: 1.8;
  background: #EEEEEE;
  color: black;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  float: left;
}
.profile-edit-btn2 {
  font-size: 15px;
  line-height: 1.8;
  background: #8A8A8A;
  color: white;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  float: right;
  
}
.profile-camera1 {
  float: right;
  display: flex;
  justify-content: center;
  margin-right: 0px;
   width: 100%;
  position: absolute;
  
}
.card-tab{
  width:100%;
  height:100%;
 }


.profile-stat {
  margin-top: 1px;
  
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.image{
  width: 100%;
  height: 100%;

 }
 .images{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 0px;
  margin-top: 10px;
  row-gap: 17px;
 }

 .line{
  color:#000;
  width:95%;

 }
 .profile-stat-counts{
  font-weight: 500;
  font-size: 15px;
  
}
.profiles-stat-count{
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: -13px;
  
}
.profile-status-count{
  font-weight: 500;
  font-size: 16px;
  margin-top: -12px;
  justify-content: center;
}
}



@media (max-width:567px) {
 
  .sidebar {
    display: none;
  } 
  .mobile-nav{
    display:block;
   }
   .web-nav{
    display: none;
   }
   .mobile-logo{
    width: 100px;
    height: 37px;
   }

  .container2 {

    width:auto;
  margin-top:23px;
  height:100%;
  margin-left: 23px;
  }
  .tab-container {

    width:100%;
  margin-top:23px;
  height:100%;
  margin-left: 3px;
  }
  .profile-users-name {
   
    font-size: 23px;
    font-weight: 600;
    color: #000;
    align-items: center;
  }
  
  .profile-users-names {
   
    font-size: 15px;
    font-weight: 600;
    color: #000;
    align-items: center;
   
  }
 .create-btns{
  display: block;
  text-align: end;
  position: absolute;

  
 }
 .profile-stat-counts{
  font-weight: 500;
  font-size: 15px;
  
}
.profiles-stat-count{
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: -13px;
}
.profile-status-count{
  font-weight: 500;
  font-size: 16px;
  margin-top: -12px;
}
// .profile-img {
//   float: right;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 94px;
//     margin-top: 36px;
// }

.profile-edits-btn {
  font-size: 15px;
  line-height: 1.8;
  background: #EEEEEE;
  color: black;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  float: left;
}
.profile-edit-btn2 {
  font-size: 15px;
  line-height: 1.8;
  background: #8A8A8A;
  color: white;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  float: right;
  
}
.profile-camera1 {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
   width: 100%;
  position: absolute;
  
}


//  .line1{
//   color:#000;
//   width:400px;
//   margin-right: 23px;
//   }
.profile-stat {
  margin-top: 1px;
 
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.image{
  width: 100%;
  height: 100%;

 }
 .images{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 0px;
  margin-top: 10px;
  row-gap: 17px;
 }

 .line{
  color:#000;
  width:95%;

 }
 .profile-stat-counts{
  font-weight: 500;
  font-size: 15px;
  
}
.profiles-stat-count{
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: -13px;
  
}
.profile-status-count{
  font-weight: 500;
  font-size: 16px;
  margin-top: -12px;
  justify-content: center;
}
}


@media(max-width:535px) {
 .image-cam{
  position: relative;
 }
  .sidebar {
    display: none;
  } 
  .mobile-nav{
    display:block;
   }
   .web-nav{
    display: none;
   }
   .mobile-logo{
    width: 100px;
    height: 37px;
   }
  .container2 {
    margin-left: 4px;

    width:auto;
  margin-top:23px;
  height:100%;
  
  }
  // .tab-container {

  //   width:auto;
  // margin-top:23px;
  // height:100%;
  // margin-left: 3px;
  // }
  .profile-users-name {
   
    font-size: 23px;
    font-weight: 600;
    color: #000;
    align-items: center;
  }
  
  .profile-users-names {
   
    font-size: 15px;
    font-weight: 600;
    color: #000;
    align-items: center;
   
  }
 .create-btns{
  display: block;
  text-align: end;
  position: absolute;

  
 }
 
.profile-img {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
   width: 100%;
  position: relative;
    margin-top: 36px;
}

.profile-edits-btn {
  font-size: 15px;
  line-height: 1.8;
  background: #EEEEEE;
  color: black;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  float: left;
}
.profile-edit-btn2 {
  font-size: 15px;
  line-height: 1.8;
  background: #8A8A8A;
  color: white;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  float: right;
  
}
.profile-camera1 {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
   width: 100%;
  position: absolute;
   
  
}
.card-tab{
  width:95%;
  height:100%;
  
 }

//  .line1{
//   color:#000;
//   width:400px;
//   margin-right: 23px;
//   }
.profile-stat {
  margin-top: 1px;
  
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.image{
  width: 100%;
  height: 100%;

 }
 .images{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 0px;
  margin-top: 10px;
  row-gap: 17px;
 }

 .line{
  color:#000;
  width:95%;

 }
 .profile-stat-counts{
  font-weight: 500;
  font-size: 15px;
  
}
.profiles-stat-count{
  font-weight: 400;
  font-size: 15px;
  display: flex;
  margin-top: -13px;
  text-align: center;

}
.profile-status-count{
  font-weight: 500;
  font-size: 16px;
  margin-top: -12px;
  justify-content: center;
  
}
.Book{
  font-weight:500;
  color:#000;
  font-size:12px;
  margin-top: 4px;
  width: 220px;

}
.small-time{
  color:#000;
  font-weight:500;
  font-size: 12px;
  margin-top: 0px;
  text-align:left;
}

}
@media(max-width:450px) {
 
  .sidebar {
    display: none;
  } 
  .mobile-nav{
    display:block;
   }
   .web-nav{
    display: none;
   }
   .mobile-logo{
    width: 100px;
    height: 37px;
   }
 
  .profile-users-name {
   
    font-size: 23px;
    font-weight: 600;
    color: #000;
    align-items: center;
  }
  
  .profile-users-names {
   
    font-size: 15px;
    font-weight: 600;
    color: #000;
    align-items: center;
   
  }

  .avatar .user-avatar {
    width: 100%;
    height: 100%;
  }

 .create-btns{
  display: block;
  text-align: end;
  position: absolute;

  
 }
 .profile-stat-counts{
  font-weight: 500;
  font-size: 15px;
  
}
.profiles-stat-count{
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: -13px;
}
.profile-status-count{
  font-weight: 500;
  font-size: 16px;
  margin-top: -12px;
}
.profile-img {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;

}

.profile-edits-btn {
  font-size: 15px;
  line-height: 1.8;
  background: #EEEEEE;
  color: black;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  float: left;
}
.profile-edit-btn2 {
  font-size: 15px;
  line-height: 1.8;
  background: #8A8A8A;
  color: white;
  border-radius: 0.3rem;
  padding: 0 22px;
  font-weight: 600;
  float: right;
  
}
.profile-camera1 {
  margin-left: 49px;
  margin-bottom: 9px;
  
}

.user-online-indicator {
  width: 28px;
  height: 28px;
  bottom: 5px;
  right: 8px;
}

.Book{
  font-weight:500;
  color:#000;
  font-size:11px;
  margin-bottom: -33px;
  width:190px;
  margin-left: -15px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.small-time{
  color:#000;
  font-weight:500;
  font-size:12px;
  margin-top:33px;
  text-align:left;
}
.booked{
  font-weight:600;
  font-size:15px;
  margin-left: 2px;
  word-break: break-all;
  width: 20px;
}

.profile-stat {
  margin-top: 1px;
  
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.image{
  width: 100%;
  height: 100%;

 }
 .images{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 0px;
  margin-top: 10px;
  row-gap: 17px;
 }

 .line1{
  color:#000;
  width:80%;

 }
 .profile-stat-counts{
  font-weight: 500;
  font-size: 15px;
  
}
.profiles-stat-count{
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  margin-top: -13px;
}
.profile-status-count{
  font-weight: 500;
  font-size: 16px;
  margin-top: -12px;
  justify-content: center;
}   
}
@media(max-width:375px) {
  .Book{
    font-weight:500;
    color:#000;
    font-size:9px;
    margin-bottom: -8px;
    width: auto;
  }
  .small-time{
    color:#000;
    font-weight:500;
    margin-top: 9px;
    text-align: left;
    margin-left: -9px;
    font-size: 9px;
  }
  
}